:root {
  --dark-color: #E8CA4A;
  --green-color: #0593F9;
  --red-color: #CE1139;
  --yellow-color: #c6a41f;
  --section-color: #eff7fa;
  scroll-behavior: smooth;
}

svg {
  transition: 0.3s ease-in-out;
}
section {
  overflow: hidden;
}

h1::selection,p::selection,h3::selection {
  background:aliceblue;
  color: #c6a41f;
  
}

.back {
  background-color: aliceblue !important;
}


@font-face {
  font-family: "XHARPDemoGradient";
  src: url("/32-Fruit/fonts/XHARPDemoGradient.ttf");
}


body { 
  position: relative;
  font-family: 'Raleway', sans-serif !important;  
  background: linear-gradient(to right,  var(--dark-color) 50%,var(--yellow-color));
}

.over {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100vh;
  display: none;
  background: rgba(0,0,0,0.5);
}
.over.active {
  display: block;
  animation: opacity 1s ease-in-out alternate 1;
}
.shopping-cart {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 900px;
  min-height: 400px;
  right: 50%;
  transform: translate(50%,25%);
  background-color: #fff;
  z-index: 10;
  user-select: none;
  transition: 0.3s ease-in-out;
}

.exit {
  right: 0;
  top: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.exit:hover {
  background-color: #eee;
}
.exit:hover svg {
  color: var(--green-color);
}
.fade-out{
  animation: fade-out 1s ease-in-out alternate 1;
}


.shopping-cart.active {
  display: flex;
  animation: opacity 1s ease-in-out alternate 1;
}
.shopping-cart .outer-layer {
  width: 90%;
  height: 80%;  
}

.shopping-cart .head {
  width: 100%;
  min-height: 50px;
  background-color: #eee;
}
.shopping-cart .innerLayer  {
  width: 100%;
  height: 250px;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.5s ease-in-out;
}


.shopping-cart .head-1 span {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-size: 15px;
}
.shopping-cart .head-1 { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-bottom: 15px;
}

.shopping-cart .head-1 span[id="Product"] .content {
  width: 100%;
}
.shopping-cart .head-1 span[id="Product"] .content  img {
  width: 100px;
}
.shopping-cart .head-1 span[id="Product"] .content  p {
  width: 100% !important;
}
.shopping-cart .head-1 span[id="Remove"] .delete {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.shopping-cart .head-1 span[id="Remove"] .delete:hover {
  background-color: #eee;
}
.shopping-cart .head-1 span[id="Remove"] .delete:hover svg {
  color: var(--green-color);
}
.shopping-cart .head-1 span[id='Quantity'] .minus,
.shopping-cart .head-1 span[id='Quantity'] .plus {
  width: 20px;
  height: 15px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
}
.shopping-cart .head-1 span[id='Quantity'] .minus:hover {
  background-color: #af1727 !important;
  
}
.shopping-cart .head-1 span[id='Quantity'] .plus:hover {
  background-color: #0f6d41 !important;
  
}
.shopping-cart .head-1 span[id='Quantity'] .minus svg,
.shopping-cart .head-1 span[id='Quantity'] .plus svg {
  font-size: 9px;
}
.shopping-cart #Checkout {
  background-color: var(--green-color);
 transition: 0.3s ease-in-out;
}
.shopping-cart #Checkout:hover {
  background-color: #0A66C2;
}
.head span:not(:first-of-type) {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-size: 15px;
}
.head span[id="Product"],.head-1 span[id="Product"]{
  width: 100% !important;
  margin-left: 15px;
}

.main {
  border: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}
.main:focus {
  outline: none;
}
.main:hover {
  background-color: var(--green-color) !important;
  color: #fff;
}
.navbar-collapse {
  transition: 0.3s ease-in-out !important;
}
.navbar {
  transition: 0.3s ease-in-out;
}


ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin-right: 25px;
}


ul li a {
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in-out !important;
  color: #000 !important;
}
ul li a:focus {
  outline: none;
}

ul li a.active {
  color: var(--green-color) !important;
}
ul li a:hover {
  color: var(--green-color) !important;
}
.pcart {
  margin-right: 5rem;
}
.cart {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  transition: .3s ease-in-out;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section-color);
}


.cart svg {
  width: 16px;
  margin-left: 5px;
}
.navbar-brand {
  font-size: 30px !important;
  font-weight: bold;
  font-family: "XHARPDemoRegular";
  margin-left: 5rem;
}


.text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 4rem;
}
.text h1{
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  padding-right: 45px;
}
.text h1 span {
  background-color:  var(--green-color) ;
  color: var(--section-color);
}
.text p {
  width: 450px;
  font-size: 20px;
  font-weight: 600;
}


.text .order {
  transition: 0.3s ease-in-out;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  background-color: #fff ;
  display: flex;
  align-items: center;
}

.text .order svg {
  margin-left: 5px;
}

img.kiwi {
  width: 500px;
  pointer-events: none;
  user-select: none;
}
/* Start About */

section[id='About']{
  background-color: #000;

}
section[id='About']::before {
  content: "About";
  position: absolute;
  font-size: 200px;
  color: rgba(256,256,256);
  top: 0;
  left: 30%;
  z-index: 2;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  transition: 0.3s ease-in-out;
}

picture {
  display: flex;
  justify-content: center;
  height: 500px;
}

picture .overlay {
  width: 50%;
  height: 80%;
  background: linear-gradient(to left bottom,  var(--green-color) ,var(--yellow-color));
  left: 0;
  top: 25%;
}


details summary {
  width: 100%; 
}
details[open] summary ~ *{
  animation: sweep .5s linear;
}


@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}
details p {
  transition: 0.3s ease-in-out;
} 

nav.links ul li {
  width: 35px;
  height: 35px;
}
nav.links ul li a {
  width: 100%;
  height: 100%;
}
nav.links ul li a svg {
  font-size: 25px;
  transition: 0.2s ease-in-out;
}
ul li a:hover svg.fa-facebook{
  color: #0f4cf2 !important;
}
 ul li a:hover svg.fa-linkedin{
  color: #0A66C2 !important;
}
 ul li a:hover svg.fa-twitter{
  color: #0593F9 !important;
}
/* Start Products */

.core {
  flex-direction: row;
}

.inner {
  width: 40%;
}

.wrapper {
  width: 60%;
  flex-direction: column;
  position: relative;
}

.wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.wrapper header img {
  cursor: zoom-in;
  transition: 0.3s ease-in-out;
}
.wrapper header img:hover {
  transform: scale(1.080);
}
.wrapper #images {
  width: 100%;
  height: 150px;
}

#images .pic {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#images .pic img.active {
  border: 3px solid var(--green-color);
  transform: scale(1.1);
}

.content .text .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content .text .sign abbr {
  cursor: no-drop;
  
}

.text aside {
  width: 250px;
  justify-content: space-between;
}
.text aside .more {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 38px;
  width: 100px;
  border: none;
}
.text aside .more .minus ,.text aside .more .plus{
  height: 100%;
  width: 20px;
  display: block;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.text aside .more .minus {
  border-right: 1px solid grey;
}
.text aside .more .plus {
  border-left: 1px solid grey;
}
.text aside .more .minus:hover ,.text aside .more .plus:hover {
  background-color: gray;
  color: #fff;
}
.text aside .checkout {
  background-color: var(--green-color);
  color: #fff;
  font-weight: 700;
  transition: .15s cubic-bezier(.47,0,.74,.71) 0s;
}
.text aside .checkout:hover {
  background-color: #0A66C2 !important;
}

/* Start Other Products */

.slider .card {
  width: 300px;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .card .card-body {
  width: 50%;
  position: relative;
  display: block;
  top: 50%;
}

/* Sales Start */

section[id="Sales"] {
  background-color: var(--section-color);
}

section[id="Sales"] .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

section[id="Sales"] .circle {
  display: flex;
  justify-content:center;
  width: 400px;
  height: 400px;
  background-color: #0593F9;
  transition: 0.3s ease-in-out;
}

section[id="Sales"] .years {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section[id="Sales"] .years ul {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  left: 0;
  padding-left: 0 !important;
}
section[id="Sales"] .years ul li {
  margin-bottom: 25px;
  margin-right: 0 !important;
  transition: 0.3s ease-in-out !important;
  cursor: pointer;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--green-color);
  border-right: 0;
  padding: 5px;
  width: 50px;
}
.years ul li.active {
  background-color: #0593F9 !important;
  color: #fff !important;
  width: 70px !important;
}

section[id="Sales"] .years ul li:hover {
  background-color: var(--green-color);
  color: #fff !important;
  width: 70px;
}

/* start contact-us */
section[id="Contact-us"]{
  background-color: #19818F;
}

section[id="Contact-us"] #content .text h4 {
  line-height: 2 !important;
  font-weight: 600;
}

section[id="Contact-us"] #content .text p {
  line-height: 2;
  font-weight: 500;
  max-width: 350px;
  overflow: auto;
}

section[id="Contact-us"] #content .social-links ul li a svg {
  font-size: 20px;
}
section[id="Contact-us"] #content-1 {
  width: 100%;
  overflow: hidden;
}
section[id="Contact-us"] #content-1 .text > * {
  width: 100%;
}
.social-links ul li a .fa-github:hover {
  color: #000 !important;
}
ul li a:hover svg.fa-behance{
  color: #143e5d !important;
}
#sendmail {
  width: 100%;
}

section[id="Contact-us"] #sendmail> *{
  width: 80%;
}


section[id="Contact-us"] #sendmail textarea {
  padding: 10px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
section[id="Contact-us"] #sendmail input[type="submit"]{
  width: 20%;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
section[id="Contact-us"] #sendmail input[type="submit"]:hover {
  background-color: var(--green-color);
}
.form {
  background-color: #fff;
  padding: 10px;
}
.form input {
  width: 95%;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}

.form input:focus {
  outline: none;
}
.form .icon{
  width: 5%;
}
.form .icon svg {
  display: none;
}
.form .icon svg.active {
  display: block;
  animation: opacity 1s ease-in-out alternate 1;
}

.form .icon .fa-xmark{
  color:  #af1727;
}
.form .icon .fa-check {
  color: #0f6d35;
}
/* start keyframes */
@keyframes opacity {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

@keyframes fade-out {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}