body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1,0,1 ,240deg);
    margin: 50px auto;
    transition: transform 1.9s;
    animation: rotate 9s ease-in-out both infinite alternate;
    user-select: none;

}
/* 
.container:hover , .container:focus {  
          transform:  rotate3d(0,1,0,250deg) rotate3d(1,1,1,-15deg) matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,50,50,0,1);

} */

@keyframes rotate{
    10%{
        transform:  rotate3d(1,0,1,-240deg);

    }
    from {
        transform: rotate3d(1,0,1,240deg);

     }
     50% {
        transform:  rotate3d(-1,0,1,240deg);
     }
    to{
        transform: rotate3d(1,1,0 ,240deg);
    }
  
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: inherit;
    font-size: 60px;
    color: #fff;
}

.front {
    background: rgba(210, 207, 0, 0.7);
    transform: translateZ(240px) rotateY(0deg)
    ;

}


.back {
    background: rgba(210, 207, 0, 0.7);
    transform:rotateY(180deg) translateZ(240px);

}

.right {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(135deg) translateZ(240px);
}
.right-1 {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(-135deg) translateZ(240px);

}


.left {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(-135deg) translateZ(-240px);

}
.left-1 {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(135deg) translateZ(-240px);

}
.top {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(90deg) translatez(240px);
}
.top-1 {
    background: rgba(210, 207, 0, 0.7);
    transform: rotateY(-90deg) translatez(240px);
}

.bottom {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(90deg) translatez(-240px);
}
.bottom-1 {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(-90deg) translatez(-240px);
}
.double-front {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(45deg) translatez(-240px);
}
.double-back {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(-45deg) translatez(-240px);

}

.double-right {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(135deg) translatez(-240px);

}
.double-left {
    background: rgba(173, 40, 149, 0.7);
    transform: rotatex(-135deg) translatez(-240px);

}
.double-top {
    background: rgba(173, 40, 149, 0.7);
    transform: rotateY(90deg) rotateX(45deg) translatez(-240px);

}
.double-bottom {
    background: rgba(173, 40, 149, 0.7);
    transform: rotateY(-90deg) rotatex(45deg) translatez(-240px);

}
.double-right-1 {
    background: rgba(173, 40, 149, 0.7);
    transform: rotateY(90deg) rotateX(-45deg) translatez(-240px);

}
.double-left-1 {
    background: rgba(173, 40, 149, 0.7);
    transform: rotateY(-90deg) rotatex(-45deg) translatez(-240px);

}

.Triangle {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(45deg) translatez(184px) translateY(-180px) rotateX(35deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}

.Triangle-1 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(-45deg) translatez(184px) translateY(-180px) rotateX(35deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-2 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(135deg) translatez(184px) translateY(-180px) rotateX(35deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-3 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(-135deg) translatez(184px) translateY(-180px) rotateX(35deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-4 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(-135deg) translatez(184px) translateY(180px) rotateX(145deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-5 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(135deg) translatez(184px) translateY(180px) rotateX(145deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-6 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(45deg) translatez(184px) translateY(180px) rotateX(145deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
.Triangle-7 {
    background-color:rgba(40, 173, 80, 0.7);
    transform: rotateY(-45deg) translatez(184px) translateY(180px) rotateX(145deg);
    clip-path: polygon(50% 13%, 0% 100%, 100% 100%);
}
