*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    width: 750px;
    border-radius: 15px;
    margin-bottom: 0;
}
.container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
    height: 65px;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 5px;
}
.container .form #text {
    width: 75%;
    height: 80%;
    margin-right: 15px;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
}
.container .form #submit {
    width: 15%;
    height: 80%;
    color: white;
    background-color: #c11717;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}
.container .form #submit:hover {
    transform: scale(1.010);
    background-color: #ff0606;

}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.tasks .todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    width: 50%;
    margin-right: 15px;
    border-top-left-radius: 15px;
    border-top: 5px solid #c11717;
}

.tasks .done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    width: 50%;
    border-top-right-radius: 15px;
    border-top: 5px solid green;
}

.todo .text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    width: 90%;
    height: 45px;
    padding-bottom: 0;
}
.todo .text:last-of-type {
    margin-bottom: 10px;
}
.todo .text  p {
    display: flex;
    align-items: center;
    background-color: white;
    height: 45px;
    width: 80%;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(224, 208, 208);
}

.todo .text .button {
    width: 20%;
    height: 35px;
    margin-left: 15px;
    background-color: #c11717;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding-right:5px ;
}