*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imgs/1.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 680px;
    height: 600px;
    margin: 47px auto;
}

.container .image {
    width: 100%;
    height: 200px;
    margin: 15px auto;
    position: relative;
    text-align:center ;

}
.container .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container .image h2 {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 15px 0 15px ;
    text-align: center;
}
.container .image p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;

}
.container .buttons {
    width: 100%;
    height: 387px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container .buttons ul {
    width: 100%;
    height: 100%;

}
.container .buttons ul li {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 15px;
    background-color: #fab7d2;
    transition: .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}
.container .buttons ul li:hover {
    transform: scale(1.010);
}

.container .buttons  ul li a {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

.container .buttons  ul li a:hover {
    transform: scale(1.0020);
}


@media (max-width: 767px){
    .container {
        width: 480px;
        height: 600px;
        margin: 45px auto;
    }
    
    body{
        background-size: 131%;
    }
    
}
@media (max-width: 576px){
    body{
        background-size: 195%;
    }
    .container {
        width: 380px;
        height: 600px;
        margin: 45px auto;
    }
    
  
}
@media (max-width: 378px){
    body{
        background-size: 242%;
    }
    .container {
        width: 280px;
        height: 600px;
        margin: 45px auto;
    }

}
@media (max-width: 300px)
{
    body {
        background-size: 265%;
    }
    .container {
        width: 230px;
        height: 600px;
        margin: 45px auto;
    }
}