*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background: linear-gradient(87.6936897625227deg, rgba(99, 6, 212,1) 16.14843666553498%,rgba(242, 71, 104,1) 59.7942715883255%,rgba(243, 72, 104,1) 59.7942715883255%);
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eeeeeeac;
    border-radius: 15px;
    width: 750px;
    top: 50%;
    transform: translate(-50%,-50%) ;
    left: 50%;
    z-index: 99;
    transition: 0.3s ease-in-out;
}


.over{
    width: 750px;
    height: 603px;
    background-color: #eeeeee74;
    transform: translate(-50%,-50%) rotate(-3deg);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0.8;
    transition: 0.3s ease-in-out;

}



.container .image img {
    width:100px;
    margin-bottom: 35px;
    margin-top: 25px;
}

.container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.container .text h2 {
    text-transform:  capitalize;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}
.container .text p {
    color: rgb(128, 119, 119);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

form .email,form .password {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.49);
    margin-bottom: 25px;
}


form .email input:focus  ,form .password input:focus  {
    outline: none;
    box-shadow: 0 0 10px 5px rgba(99, 6, 212,1);
    transition: 0.3s ease-in-out;
}

form .email input,form .password input  {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    padding-left: 45px;
}

form .email label,form .password label {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(-50%,-50%);
}

label i {
    color: #b0a6a6;
    transition: 0.3s ease-in-out;
}
svg {
    transition: 0.3s ease-in-out;
  
}


label img {
    width: 20px;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.input label{
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.input label {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 600;
}



 input[type="checkbox"]:checked + label {
    background-color: #12bbd4;
    color: #fff;
    transition: .2s ease-in-out ;
    border: 2px solid #12bbd4;
    transform: rotatex(360deg);
}


 input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.check a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}

.sign-in {
    width: 100%;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.sign-in:hover {
    transform: scale(1.020);
}

.create  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.create a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

.show {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
}
.show img {
    position: absolute;
    cursor: pointer;
    display: none;
}

.none {
    display: none;
}

@media (max-width: 998px){
    .container {
        width: 550px;
    }
    .over {
        width: 550px;
    }
}

@media(max-width : 567px){
    .container {
        width: 460px;
    }
    .over {
        width: 460px;
    }
}

@media (max-width: 367px){
    .container {
        width: 335px;
    }
    .over {
        width: 335px;
    }
    .input label {
        padding: 4px;
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }
    .create h3 {
        font-size: 13px;
    }
}