*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.container {
    width: 450px;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    position: relative;
    margin: 25px auto;
    border-radius: 25px;
}
.first-co {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.first-co .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 80%;
    border: 3px solid rgb(22, 112, 112);
    border-radius: 11px;
    margin-left: 20px;
}
.first-co .image img {
    width: 85%;
    height: 85%;
    background-color: #7e5231;
    border-radius: 10px;
}

.first-co #icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 80%;
    fill: rgb(22, 112, 112);
    margin-right: 10px;
}

.container .co {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    color: rgb(22, 112, 112);
}
.container .co .image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
}

.container .co img {
    transform: rotate(90deg);
    width: 18px;
    height: 18px;
}
.container .co h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.container .co .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}
.core {
    margin-top: 25px;
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #ddd , #ffffff);
    border-radius: 25px;
    box-shadow: -20px 2px 16px #fff , 15px 5px 15px #ddd;
    color: white;
}
.core .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom ,rgb(11, 255, 255),rgb(18, 126, 126))
}
.core .inner #icon-1 {
    margin-bottom: 5px;
}
.core .inner h1 {
    margin-bottom: 10px;
    font-weight: bolder;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 130px;
    position: relative;
    margin-top: 35px;
    color: rgb(18, 126, 126);
}
.middle .co1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 160px;
    background-image:linear-gradient(to right, #ddd , #ffffff); 
    box-shadow: -10px -15px 16px #fff , 15px 15px 15px #ddd;
    margin-right: 25px;
    border-radius: 25px;
    position: relative;
}
.middle .co1:last-of-type {
    margin-right: 0;
}
.middle .co1 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 8px;
}
.co1 .icon .round {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    outline: 9px solid #ddd;
    position: absolute;

}

.co1 .icon .round .third {
    position: absolute;
display: block;
width: 70px;
height: 35px;
border-radius: 35px 35px 0px 0px;
border: 9px solid rgb(18, 126, 126);
border-bottom: 0;
right: -26px;
top: 10px;
transform: rotate(90deg);
}
.round .first {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 9px solid;
    right: -9px;
    top: -8px;
}
.round .second {
    position: absolute;
    display: block;
    width: 72px;
    height: 36px;
    border-radius: 36px 36px 0px 0px;
    border: 9px solid;
    border-bottom: 0;
    right: -27px;
    top: 11px;
    transform: rotate(90deg);
}
.third .half-circle {
    width: 35px;
    height: 35px;
    border-radius: 0 35px 0 0;
    display: block;
    position: absolute;
    border: 9px solid;
    border-left: 0;
    border-bottom: 0;
    left: 29px;
    transform: rotate(80deg);
    top: 22px;


}
.co1 h1 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.core-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    width: 80%;
    height: 200px;
}
.core-2 .srv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.core-2 .srv:last-of-type {
    margin-bottom: 0;
}
.srv .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 75px;
    background-image:linear-gradient(to right, #ddd , #ffffff); 
    box-shadow: -10px -15px 16px #fff , 15px 15px 15px #ddd;
    border-radius: 25px;
    margin-right: 22px;
    position: relative;
}
.srv .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(18, 126, 126);
    width: 70%;
}
.srv .text p{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2px;
    align-items: center;
}
.srv .text p span {
    font-weight: bold;
    margin-right: 4px;
    font-size: 20px;
    
}
.srv .text .two {
    color: #6c6464;
}

.srv .text.two p span {
    margin-right: 4px;
    margin-left: 4px;
}
.srv .text.two p span:first-of-type {
    margin-left: 0;
}
.core-2 .round {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    outline: 4px solid #ddd;
    position: absolute;
}
.core-2 .round .third {
    position: absolute;
    display: block;
    width: 45px;
    height: 23px;
    border-radius: 35px 35px 0px 0px;
    border: 4px solid rgb(18, 126, 126);
    border-bottom: 0;
    right: -16px;
    top: 7px;
    transform: rotate(90deg);
}
.core-2 .third .half-circle {
    width: 20px;
    height: 20px;
    border-radius: 0 20px 0 0;
    display: block;
    position: absolute;
    border: 4px solid rgb(18, 126, 126);
    border-left: 0;
    border-bottom: 0;
    left: 22px;
    transform: rotate(80deg);
    top: 18px;

}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
}
.co3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image:linear-gradient(to right, #ddd , #ffffff); 
    box-shadow: -10px -15px 16px #fff , 15px 15px 15px #ddd;
    position: relative;
    cursor: pointer;
    transition:  0.15s cubic-bezier(.17,.67,.29,2.71) 0s;;
}
.co3:hover {
    transform: scale(1.040);
}
.co3:last-of-type {
    margin-right: 0;
}
.co3 img {
    width: 25px;
    height: 25px;
}
.co3 .head {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(18, 126, 126);
    border-radius: 50%;
    display: block;
    position: relative;
    margin-bottom: 2px;
}
.co3 .head::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid rgb(18, 126, 126);
    border-radius: 0 10px 0 0;
    border-bottom: 0;
    border-left: 0;
    left: 11px;
    transform: rotate(38deg);
    top: 1px;
  }

.co3 .body {
    width: 18px;
    height: 6px;
    border: 2px solid rgb(18, 126, 126);
    border-bottom: 0;
    position: relative;
    border-radius: 5px 5px 0 0;
}
.co3 .body::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 5px;
    border: 2px solid rgb(18, 126, 126);
    border-radius: 0 10px 0 0;
    border-bottom: 0;
    border-left: 0;
    left: 15px;
    transform: rotate(11deg);
    top: -3px;
}
  
.co3 .arrow {
    position: relative;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    filter: brightness(0);
}
.co3 .arrow-two {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent rgb(18, 126, 126);
    right: 17px;
    
}