*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
 font-family: 'Roboto', sans-serif;
 background-color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 25px auto;
}

.container h1 {
    display: block;
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
}
p {
    text-align:center;
    color: black;
    margin-bottom: 25px;
}

.light-img {
    display: block;
}
.dark-img {
    display: none;
}
img {
    width: 450px;
    height: 350px;
    border-radius: 25px;
    margin-bottom: 25px;
}

h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
}
.buttn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      background-color: rgb(24, 20, 41);
      width: 150px;
      height: 35px;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
  }
.buttn button {
      width: 50%;
      height: 100%;
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.14);
      transition: 0.7s ease;
      font-weight: 500;
}
.light{
    display: block;

}
.dark {
    display: none;
    color: white; 
    background-color : black;
    z-index: 9;
}
/* .light:hover {
    transform: translateX(100%);

} */
