*{
    padding: 0;
    margin: 0;
}
:root {
    --root-color: #ff5470;
}
body {
    font-family: 'Lato', sans-serif;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.container {
    width: 800px;
    height: 500px;
    margin: 25px auto;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px rgba(97, 94, 94, 0.45);
}

.container .col-left ,.container .col-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.7s ease-in-out;
}


.container .col-right {
    background:linear-gradient(to right ,#ff5440, var(--root-color)) ;

}

.left {
    transform: translateX(-400px);
}

.right {
    transform: translateX(400px);


}

.container .col-left header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.container .col-left .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .head{
    font-size: 35px;
    font-weight: 900;
    padding:10px;
    position: absolute;
    transition: 0.7s ease-in-out;
}

.he1 {
    transition: 0.7s ease-in-out 0.2s !important;

}
.content .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.links > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(192, 188, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out 0s;
}
.links > div:hover {
    background-color: rgb(192, 188, 188);
}
.links > div:not(:last-of-type){
    margin-right: 5px;
}

.side {
    margin-top: 10px;
    padding: 2px;
}
.side a {
    text-decoration: none;
    color: rgb(116, 108, 108);
    transition: 0.1s ease-in-out;
}
.side a:hover {
    color: #ff5440;
}

.col-left form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.col-left form input {
    padding: 12.5px;
    background-color: #eee;
    border: none;
    width: 250px;
    transition: 0.2s ease-in-out;
}
.col-left form input:focus {
    outline: none;
}
.col-left form input:first-of-type {
    margin-bottom: 15px;
}

aside.button {
    width: 125px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(220, 40, 12);
    color: #fff;
    display: grid;
    place-content: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-transform: capitalize;
    font-weight: 600;
}
aside.button:hover {
    background-color: #ff5440;
}

.col-right aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    position: relative;
}

.col-right .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    position: absolute;
    transition: 0.7s ease-in-out ;
}
.col-right .text .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.index {
    opacity: 0;
}
.col-right .text  h1 {
    position: absolute;
    transition: 1s ease-in-out;
}
.col-right .text p {
    position: absolute;
    transition: 1s ease-in-out;
}
.col-right .text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.col-right .text p {
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 80%;
    text-transform: capitalize;
}

.col-right button {
    padding: 20px;
    width: 125px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 10px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-right button:hover {
    transform: scale(1.080);
}

.col-right button p {
    position: absolute;
    transition: 1s ease-in-out;    
}
