@keyframes opa {

    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes scale {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.20);
    }
}