:root {
  --root-color: #ffa304;
  --white-color: #fff;
  --purple-color: #efc6ce;
  --gray-color: #afaaaa;
  --black-color: #000;
  scroll-behavior: smooth;
}

/* css Rules Please Don't Change The Code Lines For The .menu::before And After */
.menu::before {
  content: "";
  position: absolute;
  left: -56px;
  width: 25px;
  height: 100%;
  z-index: 10;
  box-shadow: 25px 0 25px 40px var(--gray-color);
  transition: 0.3s ease-in-out;
  display: block;
  opacity: 1;
}
.menu::after {
  content: "";
  position: absolute;
  right: 56px;
  width: 25px;
  height: 100%;
  z-index: 10;
  box-shadow: 95px 0 25px 40px var(--gray-color);
  transition: 0.3s ease-in-out;
  display: block;
  opacity: 1;
}
/* ,, */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif ;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  pointer-events: none;
  user-select: none;
}
.img {
  width:40px ;
  height: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.first-col {
  height: 100%;
  min-width: 7% ;
  position: fixed;
  z-index: 100;
  background-color: var(--white-color);
  transition: 1s ease-in-out;
}
.second-col {
  background-color: #fafafa;
  width: 68%;
  height: 100%;
  margin-left: 110px;
  transition: 1s ease-in-out;
}
.third-col {
  width: 25%;
  height: 100%;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.first-col .toggle {
  transition: 1s ease-in-out;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background: var(--white-color);
  left: 87%;
  cursor: pointer;
  width: 25px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: none;
}
.first-col .toggle img{
  width: 15px;
  height: 15px;
}
.none {
  display: none;
}

.first-col ul {
  padding: 30px;
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.first-col ul li {
  margin-bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0s;
  box-shadow: 0 5px 5px #e2dfdf;
}
.first-col ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.first-col ul li a.active svg path {
  fill: #F7F9F9;
  transition: 0.1s ease-in-out;
}



.first-col ul span  {
  cursor: context-menu !important;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
span a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0s;
  box-shadow: 0 5px 5px #e2dfdf;
}
.first-col ul span a img {
  cursor: pointer;
  width: 20px;
  height: 20px;

}

/* content */




.content {
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.content .text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
  padding: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 0;
}

.content .text h3{
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
}

.content .parent {
  width: 50%;
  height: 100%;
  padding: 30px;
  justify-content: flex-end;
}
.content .parent  .search {
  width: 100%;
  height: 45px !important;
  border-radius: 25px;
  background-color: var(--white-color);
  flex-direction: row;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.content .parent  .search input {
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 80%;
  height: 100%;
  padding-left: 15px;
}
.content .parent .search input:focus {
  outline: none;
}
/* inner */

.inner {
  padding: 45px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.inner .row {
  display: grid;
  grid-template-columns:  250px auto 250px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(65.44725102726522deg, rgba(237, 63, 0,1) 12.111978953083357%,rgba(242, 235, 242,1) 58.57031169037024%);
  border-radius: 25px;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.delivery {
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.delivery .caption {
  text-align: left;
  flex-direction: column;
}
.delivery .caption h3 {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}
.delivery .caption .paragraph {
  min-width: 228px;
  font-size: 14px;
  color: rgb(159, 149, 149);
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;

}
.delivery .caption .paragraph p {
  margin-right: 3px;
  margin-left: 3px;
  color: var(--root-color);
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.wrapper button {
  color: var(--white-color) ;
  font-size: 14px !important;
  background-color: var(--root-color);
  padding: 10px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.delivery-1 {
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.delivery-1 img {
  max-width: 70%;
}
.delivery-2 {
  display: grid;
  grid-template-rows: 45px auto 45px;
}

.delivery-2 .middle {
  display: flex;
  justify-content: end;
  position: relative;
}
.delivery-2 .top , .delivery-2 .bottom{
  mix-blend-mode: exclusion;
}
.delivery-2 .middle svg {
  width: 200px;
  transform:rotate(90deg) translate(-15px,-80px);
  position: absolute;
  mix-blend-mode: exclusion;
}
.search .child {
  width: 20%;
}
.parent.parent-1 {
  padding-top: 0;
  padding-bottom: 0;
}
.parent.parent-1 .search{
  border-radius: 0 ;
  background-color: transparent ;
  justify-content: flex-end;
}
.parent.parent-1 .search .text {
  justify-content: flex-end;
  margin-right: 8px;
  color: var(--root-color);
}
.child.child-1 {
  width: 20px;
  height: 20px;
  background-color: var(--root-color);
  border-radius: 5px;
  cursor: pointer;
}
.child.child-1.disabled , .child.child-2.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.child.child-2 {
  transform: scale(-1);
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: var(--root-color);
  border-radius: 5px;
}

.child svg {
  width: 10px;
  height: 10px;
}
.dim {
  opacity: 0.5;
}
/* menu */

.menu {
  position: relative;
  flex-direction: row;
  margin: 45px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: hidden;
  border-radius: 25px;
} 

.menu #col {
  min-width: 150px;
  border-radius: 15px;
  background: var(--white-color);
  margin-right: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s ease-in-out 0s;
}
.menu #col.active , .menu #col:hover {
  background-color: var(--root-color);
}

.menu #col.active .recipe , .menu #col:hover .recipe{
  background-color: var(--white-color) ;
}
.menu #col.active .menu-text,.menu #col:hover .menu-text {
  color: var(--white-color);
}

.menu #col.active .child.child-1 , .menu #col:hover .child.child-1{
  background-color: var(--white-color);
}

.menu #col.active .child.child-1 svg path, .menu #col:hover .child.child-1 svg path{
  fill: var(--root-color);
}
.menu #col:last-of-type {
  margin-right: 0 !important;
}
.menu #col .recipe {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: #e2dfdf;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.5s ease-in-out 0s;
}
.menu #col .recipe img {
  width: 30px;
  height: 30px;
}
.menu #col .menu-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  transition: 0.3s ease-in-out ;

}
.menu #col .child.child-1 {
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 50% !important;
  transition: 0.5s ease-in-out 0s;
}
svg path {
  transition: 0.5s ease-in-out 0s;


}
.text-capitalize {
  text-transform: capitalize;
}

/* start pizza */
.pizza {

  flex-direction: row;
  padding: 45px;
  padding-top: 15px;
  padding-bottom: 0 !important;
}
.organise  {
  flex-direction: column;
  width: calc(100% / 3);
  margin-right: 10px;
  margin-bottom: 15px;
}
.pizza #order {
  width: 100%;
  margin-bottom: 15px;
}
.pizza #order:nth-child(3){
  margin-right: 0;
}
.pizza #order .section {
  position: relative;
  max-height: 70%;
  background-color: var(--white-color);
  border-radius: 20px;
}
.rate {
  height: 25px;
  padding: 0 10px;
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  left: 50%;
}
.rate:not(:checked)  input {
  position:absolute;
  visibility: hidden;
}
.rate:not(:checked)  label {
  width:15px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ccc;
}
label:before {
  content: '★';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked)  label:hover,
.rate:not(:checked)  label:hover ~ label {
  color: #17de38;  
}
.rate  input:checked + label:hover,
.rate  input:checked + label:hover ~ label,
.rate  input:checked ~ label:hover,
.rate  input:checked ~ label:hover ~ label,
.rate  label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.pizza #order .image {
  position: relative;

  overflow: hidden;
}

.pizza #order .image #icon-rate {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #efc6ce;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza #order .image #icon-rate svg:nth-child(2){
  position: absolute;
  z-index: -1;
}
.pizza #order .image #icon-rate svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
}
.pizza #order .image #icon-rate svg:nth-child(1):hover path {
  fill: red;
}
.pizza #order  .image img{
  max-width: 150px;
  max-height: 150px;
}

.pizza #order .section .text {
  padding: 10px;
  margin-top: 10px
}
.pizza #order .section .text h3 {
  font-size: 16px;
  margin-bottom: 2px;
}
.pizza #order .section .core {
  display: flex;

}
.pizza #order .section .core .rating {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
.pizza #order .section .core .rating img {
  width: 0px;
}
.pizza #order .section .core .icon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza #order .section .core .icon > div{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.pizza #order .section .core .price {
  font-size: 14px;
}

.pizza #order .section .core .price span{
  font-weight: bold;
  font-size: 18px;
  margin-left: -3px;
}
/* Pizza End */
/* Third-col Start */

.third-col .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 30px;
}
.third-col .profile .bell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fafafa;
  margin-right: 25px;
}
.third-col .profile .bell .one {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--root-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  user-select: none;
}
.third-col .profile .bell svg {
  position: relative;
  cursor: pointer;
}
.third-col .profile .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.third-col .profile .user .photo {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.third-col .profile .user .photo svg {
  position: absolute;
}
.third-col .profile .user .photo svg:nth-child(2){
  z-index: -1;
}

.third-col .profile .user .info h3{
  font-size: 17px;

}
.third-col .profile .user .info p {
  color: rgb(159, 149, 149);
  font-size: 14px;
}
.third-col .profile .user nav {
  position: relative;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  cursor: pointer;
}
.third-col .profile .user nav img {
  width: 13px;
  height: 13px;
}
.third-col .profile .user nav .setting-nav {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 35px;
  z-index: 10;
}
.third-col .profile .user nav .setting-nav ul {
  background-color: #fafafa;
  border-radius: 15px;
  overflow: hidden;
}

.third-col .profile .user nav .setting-nav ul li{
  position: relative;
  padding: 10px;
  list-style: none;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.third-col .profile .user nav .setting-nav ul li:hover {
  transform: translateX(-5px);
}
.third-col .profile .user nav .setting-nav ul li:nth-child(1){
  padding-bottom: 5px;
}

.third-col .profile .user nav .setting-nav ul li:nth-child(2){
  padding-top: 5px;
}

.third-col .profile .user nav .setting-nav ul li a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 13px;
  font-weight: 500;
}
.anima {
  display: flex !important;
  animation: opa 0.5s ease-in-out 1 alternate;
}

.third-col .content .text h3{
  font-size: 16px;
  
}
.third-col .content .child.child-1 {
  min-width: 20px;
}
.text{
  font-size: 13px;
}

/* card Start */
.third-col .card {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
  height: 200px;
  border-radius: 25px;
  background-color: rgba(251, 133, 6, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-col .card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--root-color);
  border-radius: 25px;
  transform: rotate(5deg);
  z-index: -1;
}
.third-col .card .shelf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
}

.third-col .card .upper h3{
  color: rgb(255, 255, 255,0.86);
  font-size: 16px;
}

.third-col .card .bottom .left {
  color: rgb(255, 255, 255,0.86);
}
.third-col .card .bottom .left h3 {
  margin-bottom: 5px;
  font-size: 18px;
}
.third-col .card .bottom .left p {
  font-size: 14px;
}
.third-col .card .bottom .cell {
  width: calc(100% / 2);
  height: 100%;
}

.third-col .card .bottom .cell.right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.third-col .card .bottom .cell .nano  {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
}

.third-col .card .bottom .cell .nano span {
  width: calc(100% / 3);
  height: 100%;

}
/* .third-col .card .bottom .cell .nano span:nth-child(3){
  height: 80% !important;
} */


.third-col .card .bottom .cell .nano span:nth-child(1) {
  border-right: 1px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-col .card .bottom .cell .nano span:nth-child(1) .line {
  border-bottom: 1px solid var(--black-color);
  width: 100%;
  height: calc(100% / 4);
}
.third-col .card .bottom .cell .nano span:nth-child(1) .line:nth-child(4) ,
.third-col .card .bottom .cell .nano span:nth-child(3) .line:nth-child(4){
  border-bottom: none;
}
.third-col .card .bottom .cell .nano span:nth-child(3) .line:nth-child(4){
  border-left: 1px solid var(--black-color);
}
.third-col .card .bottom .cell .nano span:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.third-col .card .bottom .cell .nano span:nth-child(3) .line {
  border-bottom: 1px solid var(--black-color);
  width: 100%;
  height: calc(100% / 3);
}
.third-col .card .bottom .cell .nano span:nth-child(3) .line:nth-child(3){
  border-bottom: 1px solid var(--black-color);
  border-left: 1px solid var(--black-color);
}
.third-col .card .bottom .cell .nano span:nth-child(3) .line:nth-child(2) {
  border-left: 1px solid var(--black-color);
}
.third-col .card .bottom .cell .serial {
  margin-top: 10px;
  margin-bottom: 15px;
}
.third-col .card .bottom .cell .serial p{
  color: rgb(255, 255, 255,0.86);
  font-size: 13px;
  font-weight: 600;
}
.third-col .checkout {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-col button {
  width: 100%;
  height: 100%;
}
.btn {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--root-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: .3s cubic-bezier(.17,.67,.29,2.71) 0s;
}
.btn:hover {
  transform: scale(1.0050);
  background-color: rgb(255, 140, 0);
}
/* start orders */
.orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.5s ease-in-out 0s;
}
.orders .supply {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
  border-radius: 25px;
  margin-bottom: 8px;
  animation: opa 1s ease-in-out 1 alternate;
}

.orders .supply .image {
  width: 25%;
  background-color: #fafafa;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  margin-right: 15px;
}
.orders .supply .image img {
  width: 100%;
}

.orders .supply  .details {
  width: 50%;
}
.orders .supply  .details h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.orders .supply  .details p {
  color: rgb(212, 154, 45);
}
.orders .supply  .details p span {
  color: var(--black-color);
}
.orders .supply .price {
  width: 25%;
}
.orders .supply .price h3 {
  color: rgb(212, 154, 45);
  font-size: 13px;
}
.orders .supply .price h3 span {
  color: var(--black-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
}
.orders .supply .exit {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #86112e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: 0.2s ease-in-out;
}

.orders .supply .exit:hover {
  background-color: #b7113b;
}

.orders .supply .exit img {
  width: 12px;
  height: 12px;
}


@media (max-width:1198px){
  .second-col {
    margin-left: 71px;
    padding-left: 45px;
  }
  .first-col ul span {
    align-items: center;
  }
}
@media (max-width:998px) {
  .second-col {
    padding-left: 50px;
    margin-left: 50px;
  }
  
}
@media (max-width:767px) {
  .first-col {
    transform: translateX(0px);
  }
  .first-col .toggle {
    display: flex;
  }
  .delivery-2 .middle svg {
    transform: rotate(90deg) translate(-15px,-80px);
  }
  .second-col {
    padding-left: 100px;
    margin-left: 0;
  }
  .content .text h3 {
    font-size: 18px;
  }
  .content .parent .search {
    height: 30px !important;
  }
  .content .parent .search input {
    font-size: 12px;
  }
  .search .child img {
    height: 15px;
  }
  .delivery .caption h3 {
    font-size: 14px;
    text-align: center;
  }
  .delivery .caption .paragraph {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .wrapper  {
    justify-content: center;
  }
  .wrapper button {
    font-size: 10px !important;
  }
  .inner .row {
    grid-template-columns: 150px auto 150px;
  }
  .delivery-2 {
    grid-template-rows: 45px auto 30px;
  }
  .delivery-1 img {
    max-width: 100%;
  }
  .menu #col {
    min-width: calc(100% / 4);
  }
  .pizza #order .image img {
    max-width: 125px;
    max-height: 125px;
}
.pizza #order .section .text h3 {
  width: 80%;
}
.pizza #order .section .core .price {
  font-size: 12px;
}
.pizza #order .section .core .price span {
  font-size: 14px;
}
.pizza #order .section .core .icon > div {
  width: 20px;
  height: 20px;
}
.pizza #order .section .core .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.pizza #order .image #icon-rate {
  width: 25px;
  height: 25px;
}
.pizza #order .image #icon-rate svg {
  width: 15px;
  height: 15px;
}
.pizza #order .section .text h3 {
  font-size: 13px; 
}
.pizza {
  flex-direction: column;
}
.organise {
  width: 100%;
}

}


@media (max-width:568px) {
  .first-col ul {
    padding: 15px;
    padding-top: 30px;
  }
  .second-col {
    padding-left: 50px;
    width: 100% !important;
  }
  .content .text h3 {
    font-size: 14px;
  }
  .content .parent .search {
    width: 30px;
  }
  .content .parent .search.search-1 {
    width: 50px;
  }
  .content .parent .search:hover {
    background-color: #f8f4f4;
  }
  .content .parent  input {
    display: none;
  }
  .content .parent .search input {
    height: 10px !important;
  }
  .delivery .caption h3 {
    font-size: 14px;
  }
  .delivery .caption .paragraph {
    font-size: 12px;
  }
  .wrapper button {
    font-size: 10px !important;
  }
  .inner .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .delivery-2 {
    display: none;
  }
  .menu #col {
    min-width: calc(100% / 2);
  }

}

@media (max-width:367px) {
  
}