*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #27292b;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 900px;
    height: 650px;
    margin: 69px auto;
    border-radius: 35px;
    background-image: linear-gradient(to top left , black , #4f5355 ) ;
    z-index: 99;
    overflow: hidden;
}
.container.container-2 {
    background-image: url("../imgs/four.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container .over {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(0 0 0 / 30%);
    border-radius: 35px;
}
.coot {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 900px;
    height: 650px;
    margin: 69px auto;
    background-image: linear-gradient(to top left , black , #4f5355 ) ;
    transform: rotate(3deg);
    z-index: -9;
    display: block;
    border-radius: 35px;
    opacity: 0.4;
}
.container header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    border-bottom: 1px solid #3b3e41;
    flex-direction: row;
    position: relative;
    z-index: 1000;
}

.container header .left {
    width: 10%;
    height: 100%;
    border-right: 1px solid #3b3e41;
}

.container header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.container header .right ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
ul li {
    list-style: none;
    border-radius: 25px;
    transition: 0.2s ease-in-out;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}
ul li:last-of-type {
    margin-right: 0;
}
ul li.active {
    font-weight: bolder;
    background-color: #36393b;

}
ul li:hover {
    background-color: #36393b;
    
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    
}
ul li:first-of-type {
    margin-left: 15px;
}
.right .co {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 100%;
}
.right .co .core {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height:70%;
    border-radius: 35px;
    background-color: #36393b;
}

.co .core .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.co .core .image:hover {
    background-color: #27292b;
}

.co .core img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.co .core .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.core .toolip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #36393b;
    position: absolute;
    width: 131px;
    height: 150px;
    transform: translateY(100px);
    z-index: 999;
    border-radius: 15px;
    animation: fadein 0.4s ease-in-out 1 alternate;
    overflow: hidden;
    padding: 5px;
}
.toolip.appear {
    display: none;

}


.toolip .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-bottom:1px solid #424547 ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.toolip .wrapper:hover {
    transform: translateX(-15px);
}
.toolip .wrapper:last-of-type {
    border-bottom: none;
}
.co .core .icon:hover {
    background-color: #27292b;
}

.toolip .wrapper .title {
    font-size: 13px;
    color: #ffffff;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolip .wrapper:first-of-type .answer{
    width: 66%;
}
.toolip .wrapper:last-of-type .title {
    justify-content: flex-end;
    margin-right: 5px;
}
.toolip .wrapper:last-of-type .answer {
    justify-content: flex-start;
}
.toolip .wrapper .answer {
    font-size: 13px;
    color: gray;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon span {
    width: 23px;
    height: 2px;
    display: block;
    background-color: #ffffff;
}

.icon span:not(:last-of-type) {
    margin-bottom: 6px;

}
.container .second {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87%;
    animation: transforms 0.7s ease-in-out 1 alternate ;
    
}

@keyframes  transforms {
    from {
        opacity: 0;
        transform: translateX(-350px) ;

    }
    to {
        opacity: 1;
        transform: translateX(0);

    }
    
}
.second .column {
    height: 100%;
    width: 100px;
    border-right: 1px solid #3b3e41;
}
.second .srv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.second .srv .inner:first-of-type {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 50%;
    color: #ffffff;
    margin-left: 15px;
}
.second .srv .inner:first-of-type h1{
    font-size: 50px;
    width: 250px;
    word-wrap: break-word;
    font-weight: 600;
    word-spacing: 2px;
}
.second .srv .inner:first-of-type h1::first-letter {
    background-color: palevioletred;
}


.second .srv .inner:first-of-type p {
    font-size: 15px;
    color: #847e7e;
}

.second .srv .inner.inner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    height: 50%;
    background-color: #272a2b;
    border-radius: 35px;
    margin-bottom: 55px;
    color: #ffffff;
    margin-left: 15px;

}

.inner.inner2 .co {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.inner.inner2 .co .srv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}
.inner.inner2 .co .srv.search {
    display: none;
    flex-direction: row;
    align-items: center;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius:0 ;
    border-top-left-radius: 35px;
    width: 100%;
    transition: 0.4s ease-in-out;
    height: 100%;
    overflow: hidden;
    animation: fadein 0.9s ease-in-out 1 alternate;
}


@keyframes fadein {
    from{
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}
.inner.inner2 .co .srv.search input {
    width: 80%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 15px;
    color: #ffffff;
}
.inner.inner2 .co .srv.search:hover {
    transform: scale(1);
}
.inner.inner2 .text {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.inner.inner2 .co .srv h3 {
    font-size: 13px;
    color: rgb(205, 212, 218);
    line-height: 1.5;
}
.inner.inner2 .co .srv .first::first-line{
    background-color: green;
}
.inner.inner2 .co .srv .first::selection {
    background-color: palevioletred;

}
.inner.inner2 .co .srv p {
    color: #847e7e;
}
.inner.inner2 .co .srv .text .para::first-line {
    background-color: rgb(83, 26, 36);
}
.inner.inner2  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    height: 100%;
    background-color: rgba(243, 92, 36, 0.877);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    animation: fadein 0.9s ease-in-out 1 alternate;
    box-shadow: 0 0 22px #a4360d;

}


.inner.inner2  .search:hover {
    background-color: rgba(221, 67, 11, 0.877);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    transform: scale(1.010);
}

.srv.srv2 {
    justify-content: center;
    align-items: flex-start;
    
}

.srv.srv2 .lib {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    height: 75%;
    position: relative;
    margin-top: 20px;

}
.srv.srv2 .lib::after {
    content: "";
    position: absolute;
}
.srv.srv2 .lib img{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 50px;
    border-radius: 100%;
    background-color: #272a2b;
    transform: translateX(300px);
    cursor: pointer;

}
.icon2 i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: black;
    color: red;
    font-size: 20px;

}
.overlay {
    position: absolute;
    width: 150px;
    border-radius: 25px;
    height:10%;
    background-color: rgb(0 0 0 / 60%);
    transform: translateY(-250px) translateX(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.content i {
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #36393b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.content i:hover {
    background-color: #4c5053;
}

.content h1 {
    font-size: 14px;
    color: rgb(175, 170, 170);
    margin-left: 5px;
}

.content span {
    color: #ffffff;
}

.prop {
    position: relative;
    z-index: 99;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87%;
    animation: transforms2 0.7s ease-in-out 1 alternate ;
}


@keyframes  transforms2 {
    from {
        opacity: 0;
        transform: translateX(350px) ;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.prop .srv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    position: relative;

}
.prop .srv.first {
    height: 100%;
    width: 100px;
    border-right: 1px solid #3b3e41;
}


.prop .srv .co {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.prop .srv .co-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.prop .srv .co h1{
    font-size: 40px;
    word-wrap: break-word;
    font-weight: 600;
    word-spacing: 2px;
    color: #ffffff;
    margin-left: 15px;
}
.prop .srv .co h1::first-letter {
    background-color: rgb(134, 8, 8);
}

.prop .co-first .core {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    position: relative;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: url("../imgs/satan\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    animation: flip 0.4s ease-in-out 1 alternate;
    margin-bottom: 35px;
}

.prop .core .icon {
    position: absolute;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #caaa88;
    right: -5px;
    box-shadow: 0 0 25px #d3ab7f;
    transform: rotate(45deg);
}

.prop .core::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: block;
    background-color: rgba(63, 2, 2, 0.842);
    left: -25px;
    top: 25px;
}
.core .icon i {
    transform: rotate(-45deg);
    color: rgb(134, 8, 8);
    font-size: 15px;
}
@keyframes flip {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg) ;
    }
}
.prop  .radius {
    width: 240px;
    height: 120px;
    color: #ffffff;
    border: 1px solid #4c5053;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    top: -6px;
    right: 0;
}
.prop .co .radius {
    width: 150px;
    height: 180px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    left: -65px;
    top: -15px;
    border-color: rgb(134, 8, 8);
}
.prop .co-first .core .inside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 90%;
    color: #ffffff;
    border: 1px solid #4c5053;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.prop .co-first .ruler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
    width: 150px;
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    /* padding-bottom: 25px; */
}
.prop .co-first .ruler .border {
    width: 90%;
    height: 2px;
    background-color: #4c5053;
    margin-left: 5px;
    opacity: 0.8;
    transition: 0.5s ease-in-out;
    animation: colors 0.9s ease-in-out infinite alternate;

}
.prop .co-first .ruler:hover > .border {
    background-color: rgb(134, 8, 8) ;
}
@keyframes colors {
    from {
        background-color: #4c5053;

    }
    to{
        background-color: rgb(134, 8, 8);

    }
}
.prop .co-first .ruler .border.border-1 {
    margin-left: 0;
    opacity: 0.6;
}
.prop .co-first .core .inside .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.prop .co-first .core .inside .text p {
    font-size: 13px;
}

.prop .co-first .core .inside .text h1::first-line {
    background: rgb(134, 8, 8);
    font-size: 18px;
    
}


.core.core-2 {
    background-image: url("../imgs/satan\ \(3\).jpg") !important;
    height: 100% !important;
}

.prop .co:last-of-type {
    height: 18%;
    margin-top: 15px;
}
.prop .co-first .ruler.ruler-1 {
    top: 75%;
}

.prop .co .two {
    width: 220px;
}

.prop .co .two::first-letter {
    background-color: rgb(170, 46, 1) !important;
}

.prop .co .radius.radius-1 {
    left: 300px;
    top: 400px;
}

.core.core-2 .three::first-line {
    background-color: rgba(221, 67, 11, 0.877) !important;
}

