*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 582px;
    background-color: black;
    box-shadow: inset 3px 3px 10px #747474;
    margin: 25px auto;
    border: 15px solid #f1ae40;
    border-radius: 53px;
    border-top: 50px solid #f1ae40 ;
    border-bottom: 50px solid #f1ae40 ;
    position: relative;

}

.container .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5.1px;
    height: 100px;
    position: absolute;
    left: -20px;
    top: 50px;
}
.container .middle span {
    width: 100%;
    height: 100%;
    background-color: #f1ae40;
    border: 1px solid;
    border-right: transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid;
    border-right: transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;


}



p { 
    color: #ecd9d9;
    font-size: 19px;
    position: relative;
    font-weight: bold;
    width: 80px;
    text-align: center;
    top: -27px;
}
p::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 52px;
    background-color: #f1ae40;
    top: 115px;
    left: 215px;
    border: 1px solid black;
    border-left: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


.container .co {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: -42px;
}
.container .co .srv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 33%;
    height: 100%;
}
.Camera {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 3px 3px 10px #747474;
}
.Speaker {
    width: 70px;
    height: 10px;
    background-color: #9f7b7b;
    text-align: center;
    border-radius: 15px;
}
.Speaker span {
    text-align: center;
    position: relative;
    top: -9px;
}
.Sensor {
    width: 25px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
    box-shadow: inset 3px 3px 10px #747474;
}
.Out {
    width: 20px;
    height: 12px;
    color: #d6c7c7;
    position: relative;
    display: block;
    border: 2px solid #b2a4a4;
    cursor: pointer;
}
.out.two{
    width: 20px;
    height: 12px;
    color: #d6c7c7;
    position: relative;
    display: block;
    border: 2px solid #b2a4a4;
    left: 2px;
    border-bottom: transparent;
    border-left: transparent;
    top: -5px;
}
.Button {
    position: relative;
    width: 67px;
    height: 24px;
    background-color: #f1ae40;
    border-radius: 15px;
    display: block;
    border: 1px solid #b2a4a4;
    box-shadow: inset 0px 1px 13px #747474;
    cursor: pointer;
}
.back {
    position: relative;
    width: 26px;
    height: 14px;
    display: block;
    border: 2px solid #b2a4a4;
    border-left: none;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}
.back::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #b2a4a4 transparent transparent;
    left: -11px;
    top: -6px;
}
.bottom {
    position: absolute;
    bottom: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;

}

.bottom .srv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 33%;
    height: 100%;
}
