:root {
  --dark-color: #5957b1;
  --grey-color: #828ca3;
  --red-color: #CE1139;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;  
  position: relative;
}

.navbar  {
  padding-top: 20px !important;
}

.main-btn {
  background-color: var(--dark-color) !important;
  color: #fff !important;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--dark-color);
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  margin-left: 3rem;
}

.main-btn.first {
  background-color: transparent !important;
  border: 2px solid var(--dark-color);
  color: var(--dark-color) !important;
  transition: 0.2s ease-in-out 0s;

}

.main-btn.first:hover {
  background-color: var(--dark-color) !important;
  color: #fff !important;
}
.nav-o {
  justify-content: flex-end;
  align-items: flex-end;
}
#navbarSupportedContent{
  transition: 0.3s ease-in-out;
}

.nav-o ul {
  margin-right: 7rem !important;
}

.nav-o ul li {
  padding-right: 10px !important;
  padding-left: 10px !important;

}


.nav-o ul li a{
  color: var(--grey-color)!important;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s ease-in-out 0s;
}
.nav-o ul li:hover  a,.nav-o ul li a.active{
  color: var(--dark-color) !important;
}
.logo {
  width: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand {
  color: var(--bs-gray-600) !important;
  font-weight:700;
  font-size: 22px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand img {
  margin-right: 3px;
}

@media (max-width: 980px){
  #navbarSupportedContent {
    justify-content: center;
    align-items: center;
  }
  #navbarSupportedContent ul {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .button {
    margin-left: 0 !important;
  }
  .nav-o ul li:last-of-type {
    margin-bottom: 15px !important;
  }
}
@media (max-width:676px) {
  .logo {
    width: 150px;
  }
  .main-btn {
    width: 120px !important;
  }
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
box-shadow: none !important;
}

.col-lg-6:first-of-type {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}
#first-child {
  width: 100%;
}
.text-child {
  font-size: 50px;
  font-weight: 600;
  width: 90%;

}
.text-child span {
  color: var(--dark-color);
  font-weight: 700;
}
.text #child {
  width: 100%;
}
.text p {
  font-size: 16px;
  color: var(--grey-color);
  font-weight: 600;
  width: 60%;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 48px;
  margin-bottom: 15px;
  width: 100%;
}

.icon {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon p {
  margin-bottom: 0 !important ;
  margin-left: 10px;
  color: #fff;
}

.icon.icon-1 {
  background-color: var(--dark-color);
  border-radius: 10px;
  color: var(--dark-color);
  box-shadow: 0 7px 10px #828ca3;
  margin-right: 5px;
}
.icon.icon-1:hover {
  background-color: #4644b7;
}
.icon .svg {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.icon svg {
  width: 16px;
}
.icon.icon-2 {
  background-color: transparent;
  border-radius: 10px;
}

.icon.icon-2 p {
  color: var(--dark-color);
  font-weight: 600;
  margin-left: 20px;
  
}

.icon.icon-2 .svg{
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(256, 12, 56, 0.76);
}


.text-2 {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 15px;
}

.text-2 h6 {
  width: 75%;
}