*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    caret-color: #18c8fa;
}
.button,button {
    cursor: pointer;

}
h1 ,h2 ,h3 ,h4 ,h5 ,p {
    user-select: none;
}


.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    z-index: 2;
}
.header .container {
    width: 75%;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: -12px;
    width: 100%;

}
.header .container img {
    height: 40px;
}
.header .container .core {
    display: flex;
    align-items: center;
}
.header .container .core span {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.header .container .bullets .core span i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    display: flex;
}
.header .container .bullets {
    display: flex;
    
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
ul li {
    width: 100%;

}


ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ;
    position: relative;
    z-index: 2;
}
ul li.active,
ul li:hover a{
    color: aqua;
    border-bottom:1px solid aqua ;

}
ul li.active a {
    color:aqua ;
    border-bottom:1px solid aqua ;
}
.header .container i {
    display: none;

}
@media (max-width: 767px){
    .header .container .bullets ul  {
        display: none;
    }
    .header .container {
        width: 100%;
    }
    .header .container .bullets  .toggle-menu {
        display: block;
        position: relative;
        font-size: 25px;
        margin-right: 15px;
        color: white;
      }
     
   
    .header .container .core span {
        margin-left: 0;
    }
    .header .container .bullets {
        display: flex;
        width: 80%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 25px;
      }
      .header .container .bullets .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%); 
      }
      .header .container .bullets ul li a {
          padding: 15px;
      }
      

    }

/**Header end*/
.home {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items:flex-start ;
    justify-content: center;
    flex-direction: column;
}
.home .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.home .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 117, 144, 0.7);
    z-index: 0;
    padding: 60px;
}
.home .content .text {
    width: 500px;
    margin-left: 120px;
    margin-bottom: 25px;
}
.home .content .text h1 {
    color: white;
    font-weight: normal;
    line-height: 1.5;
}
.home .content .text p {
    color: white;
    font-weight: normal;
    line-height: 2;
    font-size: 13px;
}
.home i {
    color: #ddd;
    z-index: 10;
    top: 50%;
    position: absolute;
    cursor: pointer;
}
.home  .fa-angle-left{
    left: 30px;
}

.home .fa-angle-right {
    right: 30px;
}

.contain {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    
}
.home .contain span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid wheat;
    margin-right: 10px;
    cursor: pointer;
}
.home .contain span.active {
    background-color: #18c8fa;
    border: 1px solid #18c8fa ;
}
/**Home End**/
/**Services Start**/
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.paragrapgh {
    position: relative;
    padding-top: 60px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.paragrapgh h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrapgh p {
    width: 35%;
    color: #736a6a;
    line-height: 2;
    margin-top: 25px;
}
.paragrapgh span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    position: relative;
}
.paragrapgh span .border {
    border-bottom: 2px solid black;
    width: 100%;
}
.paragrapgh span .circle {
    display: flex;
    border: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 2;
    background-color: #f6f6f6;
    position: absolute;
}
.features {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 60px;
}
.features .co1 {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    

}
.features .co1 .srv {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.features .co1 .srv i {
    margin-right: 35px;
}

.features .co1 .srv .text h3 {
    color: #18c8fa;
    margin-bottom: 20px;
}
.features .co1 .srv .text p {
    color: #736a6a;
    line-height: 2;
    margin-top: 25px;
}
/**start Design **/
.design {
    width: 100%;
    background-image: url("../images/design-features.jpg");
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.design .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image {
    position: relative;
    z-index: 2;
    top: 150px;
    margin-left: 70px;
}

.design .content {
    position: relative;
    background-color: rgba(14, 117, 144, 0.7);
    z-index: 2;
    left: 80px;
    width: 800px;
    height: 350px;
    color: white;
    padding: 30px 40px;
}
.design .content .text h1 {
    margin-bottom: 50px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;

}
.design .content .text p {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}
.design .content .text p::before {
    font-family: "Font Awesome 5 Free";
content: "\f108";
font-weight: 900;
margin-right: 20px;
position: relative;
top: 1px;
}
.portfolio
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .content1 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
}
.portfolio .content1 p {
    margin-right: 5px;
    padding: 10px;
}
.portfolio .content1 p.active {
    background-color: #18c8fa;
    color: white;
}
.portfolio .container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 35px;
}
.portfolio .container img {
    width: 380px;
    transition: .4s ease;

}

.portfolio .container .co .child{
    position: relative;
    overflow: hidden;
}
.portfolio .container .co .child .text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow: hidden;
    width: 380px;
    height: 0;
    transition: .3s ease;

}
.portfolio .container .child:hover .text{
    height: 40%;
}
.portfolio .container .child:hover img {
    transform: scale(1.1) rotate(4deg);
}
.portfolio .container .co .child .text h1 {
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 20px;
}
.portfolio .container .co .child .text p {
    color: #18c8fa;
    margin-left: 15px;

}

.portfolio .button {
    background-color: #18c8fa;
    color: white;
    padding: 19px;
    height: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/**Video start**/
.video {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video video {
    width: 100%;
    position: relative;
   
}
video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }

.video .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 114, 141, 0.7);
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}
.video .container .text {
    height: 100%;
    text-align: center;
    color: white;
}
.video .container .text h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-top: 50px;
    text-transform: uppercase;
}
.video .container .text p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}
.video .container button {
    padding: 13px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border: none;
}
.about .paragrapgh {
    margin-bottom: 20px;
}
.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.about .image  {
    position: relative;
    margin-bottom: 0;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .image img {
    width: 100%;
    height: 100%;
}
/**STATS START **/
.stats {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/stats.png");
    background-size: cover;
    position: relative;
}
.stats .over {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(0 0 0 / 60%);
}
.stats .container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(14, 114, 141, 0.7);
    z-index: 2;
    height: 250px;
}
.stats .container .co2 {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

}
.stats .container .co2 i {
    border-radius: 50%;
    background-color: black;
    padding: 15px;
}
.stats .container .co2 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats .container .co2 .text h1 {
    font-size: 45px;
}
.stats .container .co2 .text p{
    font-size: 15px;

}
/**Stats End**/
/**Skills Start**/

.skills {
    width: 100%;
    display: flex;
    flex-direction:  row;
    justify-content: center;
}

.skills .co3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.skills .para {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}


.skills .para h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .para p {
    width: 65%;
    color: #736a6a;
    line-height: 2;
    margin-top: 25px;
    font-size: 15px;
}
.skills .core {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills .core .co4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.skills .core .co4 .image {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .core .co4 .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.skills .core .co4 .text {
    width: 370px;
    border-bottom: 1px solid gray;
    margin-left: 30px;
}
.skills .core .co4 .text p {
    line-height: 1.7;
    
}
.skills .core .co4 .text h5 {
    text-align: right;
    margin-bottom: 15px;
    color: #736a6a;
    font-weight: 500;
}
.skills ul {
    display: flex;
    flex-direction: row;
    padding: 30px;
    list-style: none;
}
.skills ul li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #736a6a;

}
.skills ul li.active {
    background-color: #18c8fa;
    border: 1px solid #18c8fa;
}
.skills .co3 .core.b {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.skills .co3 .core.b .srv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    margin-bottom: 35px;
}
.skills .co3 .core.b .srv h3 {
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 10px;
}
.skills .co3 .core.b .srv .skill {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    margin-bottom: 15px;
}
.skill .large {
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #18c8fa;
    display: flex;
}
.skill .large::before{
    content: "90%";
    position: absolute;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    right: -20px;
    top: -42px;
}
.skill .large::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: black transparent transparent transparent;
    right: -14px;
    top: -20px;
}
.skill .large-1 {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: #18c8fa;
    display: flex;
}
.skill .large-1::before{
    content: "85%";
    position: absolute;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    right: -20px;
    top: -40px;
}
.skill .large-1::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: black transparent transparent transparent;
    right: -14px;
    top: -20px;
}
.skill .large-2 {
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #18c8fa;
    display: flex;
}
.skill .large-2::before{
    content: "80%";
    position: absolute;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    right: -20px;
    top: -40px;
}
.skill .large-2::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: black transparent transparent transparent;
    right: -14px;
    top: -20px;
}

.skill .large-3 {
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #18c8fa;
    display: flex;
}
.skill .large-3::before{
    content: "90%";
    position: absolute;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    right: -20px;
    top: -40px;
}
.skill .large-3::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: black transparent transparent transparent;
    right: -14px;
    top: -20px;
}
/**skills End*/ 
/**Quote Start*/
.quote{
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
}
.quote .over {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.quote .text {
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
}
.quote .text p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.quote .text h5 {
    font-weight: 500;
    font-size: 17px;
}
/**quota End*/
/***pricing start***/
.pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing .container {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
}
.pricing .container .co4 {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    background-color: #fcfcfc;
}
.pricing .co4 .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #18c8fa;
    border-bottom: 1px solid #18c8fa;
    padding-top: 35px;
    padding-bottom: 0;
}
.pricing .co4 .content p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.pricing .co4 .content h1 {
    font-size: 60px;
    font-weight: 600;
    position: relative;
}
.pricing .co4 .content h1::before {
    content: "$";
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    top: -14px;
    left: 60px;
}
.pricing .co4 .content h1::after {
    content: "/Mo";
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 0;
    right: 42px;

}
.pricing .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing .text p{
    border-bottom: 1px solid #18c8fa; 
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing .text h2 {
    font-weight: lighter;
    font-size: 17px;
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #18c8fa; 
}
.pricing .btn {
    padding: 20px;
    margin-top: 30px;
    background-color: #fcfcfc;
    border: 1px solid #18c8fa; 
    color:#4141f8 ;
    margin-bottom: 35px;
    cursor: pointer;

}
.pricing h3 {
    font-weight: 500;
    margin-top: 35px;
    font-size: 20px;
}
.pricing .button {
    background-color: #18c8fa;
    color: white;
    margin-top: 15px;
    width: 150px;
    height: 48px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
}
/**Earth Start**/
.earth {
    width: 100%;
    height: 32vh;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
}
.earth .over {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.55);

}
.earth .content {
    width: 75%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 20px;
}
.earth .content .holder {
    position: relative;
    display: flex;
    border: 1px solid white;
    height: 68%;
    width: 45%;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}
.earth .content .holder input {
    width: 65%;
    background-color: transparent;
    color: #ada9a9;
    border: none;
    margin-left: 15px;
    position: relative;
}
.earth .content .holder input:focus {
    outline: none;
}

.earth .content .holder button {
    width: 35%;
    height: 100%;
    background-color: #18c8fa;
    color: white;
    border: none;
    text-transform: uppercase;
}
.earth .content .holder button a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earth .holder i{
    z-index: 2;
    color: white;
    margin-left: 20px;

}
.earth .content p {
    width: 65%;
    color: white;
    text-align: left;
    line-height: 1.7;
}
/**start Contact**/
.contact {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;

}
.contact .container .co5 {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin-right: 50px;
}
.contact .container .co5 input {
    padding: 20px;
    margin-bottom: 30px;
}
.contact .container .co5 textarea {
    padding: 20px;
    height: 200px;
}
.contact .container .co5 textarea,
.contact .container .co5 input:focus {
    outline: none;
}
.contact .container .co5 .button1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 25px;
    margin-bottom: 70px;
}
.contact .container .co5 .button1 button {
    padding: 20px;
    background-color: #18c8fa;
    color: white;
    border: none;
    width: 170px;
}
.contact .container .co6 {
    display: flex;
    flex-direction: column;
    height: 520px;

}
.contact .container .co6 .srv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38%;
}
.contact .container .co6 .srv h1 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.contact .container .co6 .srv p {
    color: #676262f2;
    margin-bottom: 10px;
}

.contact .container .co6 .srv .text {
    margin-bottom: 15px;
}
/**Contact End**/
/**footer Start**/
footer {
    width:100%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
}
footer .over {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.70);
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    z-index: 2;
    color: white;
    height: 100%;
}
footer .container img {
    margin-bottom: 65px;
}
footer .container h1 {
    border-bottom: 1px solid white;
    padding: 18px;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
}
footer .container .social {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    margin-top: 10px;
}
footer .social i{
padding: 18px;
padding-top: 5px;
}
footer p span {
    color: #18c8fa;
    font-weight: bold;

}
@media screen and  (max-width: 991px) {
    
}
@media  screen and (max-width: 767px) {
    .home .content .text{
        width: fit-content;
    }
    .home .content {
        padding: 0;
    }
    .features {
        flex-direction: column;
        width: 90%;

    }
.features .co1 {
    flex-direction: column;
    margin-right: 0;
}
    .features .co1 .srv {
        flex-direction: column;
        margin-bottom: 73px;
        justify-content: center;
        align-items: center;
        text-align: center

    }
    .features .co1 .srv i {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .design .image {
        display: none;
    }
    .design .content {
        left: 0;
        width: 100%;
    }
    .portfolio .container {
        flex-direction: column;
    }
    .portfolio .container .co .child{
        width: 100%;
    }
    .portfolio .container .co .child img {
        width: 100%;
    }
    .portfolio .container .co .child .text {
        width: 100%;
    }
    .stats {
        height: auto;
    }
    .stats .container {
        flex-direction: column;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 95%;
    }
    .stats .container .co2 {
        margin-bottom: 60px;
        margin-top: 5px;
    }
    .skills {
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .skills .co3 {
        width: 100%;
    }
    .skills .co3 p {
        width: 80%;
    }
    .skills .core {
        width: 100%;
    }
    .skills .core .co4 {
        flex-direction: column;
        width: 93%;
    }
    .skills .core .co4 .text {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .skills .core .co4 .text p {
        width: 100%;
        line-height: 2;
    }
    .quote {
        height: 55vh;
    }
    .pricing .container {
        flex-direction: column;
        width: 90%;
    }
    .pricing .container .co4 {
        width: 80%;
    } 
    .earth {
        height: 66vh;
flex-direction: column;

    }
    .earth .content {
        width: 100%;
height: 157px;
flex-direction: column;

    }
    .earth .content .holder {
        height: 64px;
        width: 75%;
        margin-bottom: 25px;
    }
    .earth .content p {
        text-align: center;
    }
    .contact .container {
        flex-direction: column-reverse;
    }
    .contact .container .co5 {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 567px) {
    .home .fa-angle-left,.home .fa-angle-right{
        display: none;
    }
 

}
@media screen and (max-width: 367px) {
    
}