body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#eee;
}
.character {
    position:relative;
}
.character::after{
    content:"";
    width:500px;
    height:100px;
    position:absolute;
    border-radius:50%;
    background-color:#bebebe;
    bottom:-20px;
    z-index:-1;
    transform:translateX(-50%);
    left:50%;

}
.body {
    position:relative;
    width:240px;
    height:360px;
    border:25px solid #000;
    border-bottom: none;
    border-radius: 35% 45% 0 0 ;
    background-color: #b33e15;
    overflow:hidden;
}
.body::before{
    content:"";
    position:absolute;
    width:100%;
    height: 90%;
    background-color:#ef7d0d;
    border-radius:10% 10% 32% 39% / 0% 10% 31% 100% ;

}
.glass{
    position:absolute;
    width:200px;
    height:110px;
    background-color:#4a646d;
    border:25px solid #000;
    right:-40px;
    top:76px;
    transform:rotate(-2deg);
    border-radius:25% 45% 40% 40%/ 50% ;
    overflow:hidden;

}
.glass::before{
    content:"";
    position:absolute;
    width:90%;
    height:85px;
    right:0 ;
    background-color:#94c9db;
    border-radius:10% 10% 27% 49% /0% 10% 20% 100%;

}
.white-reflection {
    position: absolute;
    width: 110px;
    height: 40px;
    background-color: #c7bdbd;
    transform: rotate(2deg);
    top: 12px;
    right: 26px;
    border-radius: 30% 100% 30% 100% /100% 90% 90% 100%;
}
.character .legs{

    display:flex;
    justify-content:space-between;
}
.character .leg-left{
    width:80px;
    height:110px;
    background-color:#b33e15;
    border:25px solid #000;
    border-top:none;
    border-radius:0 0 40% 40%;
    position:relative;
}
.character .leg-right {
    width: 80px;
    height: 100px;
    background-color: #b33e15;
    border: 25px solid #000;
    border-top: none;
    border-radius: 0 0 40% 40%;
    
}
.character .leg-left::before{
    content:"";
    position:absolute;
    width:100px;
    height:25px;
    background-color:#000;
    left:100%;
    border-radius:0 0 100% 0;


}
.character .bag{
    position:absolute;
    width:90px;
    height:200px;
    background-color:#ef7d0d;
    top:130px;
    left:-75px;
    z-index:-1;
    border:25px solid #000;
    border-radius: 40% 0 0 40% /30%;
    overflow:hidden;

}
.character .bag::before{
    content:"";
    position:absolute;
    width:100%;
    height:80%;
    background-color:#b33e15;
    bottom:0;
    border-radius: 30% 70% 0 0 / 10% 50% 0 0 ;


}