*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
}

.slider-container {
    width: 80%;
    height: 350px;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    display: flex;
    align-items: center;
}

.inner {
    transform-style: preserve-3d;
    width: 200%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
}

.card {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    backface-visibility: visible;
    background-position: center;
    background-size: cover;
    
}
.card:nth-child(1){
    background-image: url("./imgs/1\ \(1\).jpg");
}
.card:nth-child(2){
    background-image: url("./imgs/1\ \(2\).jpg");
    
}.card:nth-child(3){
    background-image: url("./imgs/1\ \(3\).jpg");

}.card:nth-child(4){
    background-image: url("./imgs/1\ \(4\).jpg");
}.card:nth-child(5){
    background-image: url("./imgs/1\ \(5\).jpg");
}
.card:nth-child(6){
    background-image: url("./imgs/1\ \(6\).jpg");
}