*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    width: 800px;
    height: 450px;
    background-color: #2d2d2d;
    margin: 25px auto;
    margin-top: 25px;
    display: flex;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50% );
    margin-top: -50px;
}
.container::before{
    content: "Css";
    position: absolute;
    width: 16px;
    height: 17px;
    background-color: #00bcd4;
    font-weight: bold;
    text-shadow: none;
    font-size: 13px;
    padding: 1px 10px;
    border-radius: 0;
    text-align: center;
    color: white;
}
span{ 
    color: #999;
    position: relative;
    bottom: -8px;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}
.b1 {
    position: relative;
    top: 0;
    left: -18px;
}
.b2 {
    position: relative;
    top: 8px;
    left: 9px;
}
.b03 {
    position: relative;
    color: #cc99cd;
    top: 28px;
    left: 9px;
}
.b04 {
    position: relative;
color: #ccc;
top: 1px;
left: 23px;
font-weight: 10;
font-size: 15px;

}
.b05 {
    position: relative;
    color: #f8c555;
    left: -13px;
    font-weight: 10;
    font-size: 15px;
    top: 0;
}

.b06 {
    position: relative;
    color: #ccc;
    top: -23px;
    left: 72px;
    font-weight: 10;
    font-size: 15px;
}
.b07 {
    position: relative;
    color: #ccc;
    top: -46px;
    left: 86px;
    font-weight: 10;
    font-size: 15px;
}
.b08 {
    position: relative;
    color: #f8c555;
    left: -13px;
    font-weight: 10;
    font-size: 15px;
    top: -49px;

}
.b09 {
    position: relative;
    color: #ccc;
    top: -74px;
    left: 41px;
    font-weight: 10;
    font-size: 15px;
}

.b10{
    position: relative;
    color: #f08d49;
    top: -97px;
    font-size: 14px;
    left: 56px;
}

.b11 {
    position: relative;
    color: #ccc;
    top: -122px;
    left: 65px;
    font-weight: 10;
    font-size: 15px;
}
.b12 {
    position: relative;
    color: #ccc;
    top: -120px;
    left: -24px;
    font-weight: 10;
    font-size: 15px;
}

