*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #15202B;
    display: flex;
    position: relative;
    flex-direction: row;
}

.tweets-co{
    display: none;
    flex-direction: column;
    width: 600px;
    height: 277px;
    position: absolute;
    z-index: 99;
    background-color: #15202B;
    left: 30%;
    top: 5%;
    transition: opacity 3s ease-out;
    border-radius: 15px;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.tweets-co .colim {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
}
.tweets-co .colim #ex {
   
    width: 20px;
    height: 20px;
   
}
.tweets-co .colim .icon-ex {
    width: 40px;
    height: 40px;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    z-index: 0;
    position: relative;
}
.tweets-co .colim .icon-ex:hover {
    background-color: rgb(31, 41, 51);
}
.tweets-co .colim.colim-1 {
    height: 100%;
    flex-direction: row;
    margin-top: 10px;
}
.tweets-co .colim.colim-1 .image {
    display: flex;
    height: 100%;
    width: 50px;
    margin-left: 20px;
}
.tweets-co .colim.colim-1 .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.colim.colim-1 #core {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.colim.colim.colim-1 #core textarea {
    width: 95%;
    height: 57%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    padding-left: 10px;
    resize: none;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}
.colim .colim.colim-1 #core textarea::placeholder {
    font-size: 20px;
    word-spacing: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.srv.earth {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 95%;
    border-bottom: 1px solid #444F5B;
}

.srv.earth .map {
    width: fit-content;
    height: 24px;
    color: #1487d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: 0.2s ease-in-out;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    animation-name: fadeIn1;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.srv.earth .map.span:hover {
    background-color: rgb(32, 55, 77);


}
@keyframes fadeIn1 {
    from { opacity: 0.8; }
      to { opacity: 1; }
}
/* .srv.earth .map:hover {
    background-color: rgb(32, 55, 77);
} */

.srv.earth .map svg {
    margin: 0;
    margin-left: 0;
    margin-top: 0px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.srv.earth .map span {
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    text-align: center;

}
.srv.earth .map.map-2 {
    display: none;
}
.srv.earth .map.map-3 {
    display: none;
}
#core .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    
}
.content .left {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


.content .left .path {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;

}
.content .left .path input {
    background-color: transparent;
    position: relative;
}
.content .left .path:hover {
    background-color: rgb(32, 55, 77);
}
.content .right {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.content .right .counter {
    display: flex;
    flex-direction: row;
    width: 44%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.content .right .counter .inside {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content .right .btn {
    width: 30%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.content .right .counter span {
    display: block;
    border-left: 1px solid #444F5B;
    width: 1px;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

.content .right .counter #cir {
    transform: scale3d(-1, 1 ,-1) rotate(-90deg);
}    




.content .right .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #38444D;
    cursor: pointer;
    transition: 0.3s ease-in-out;  
}
.content .right .circle:hover {
    background-color: rgb(32, 55, 77);
}
.content .right .tweet:disabled {
    background-color: #005b97;
    cursor: context-menu;
} 
.content .right .tweet {
    background-color: #1D9BF0;
    color: #ffffff;
    width: 70px;
    height: 35px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .right .tweet.hove{
    transition: 0.2s ease-in-out;

}
.content .right .tweet.hove:hover {
    background-color: #1487d3;

}
.tooloop {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    height: 280px;
    position: absolute;
    background-color: #15202B;
    top: 80%;
    left: 0;
    border-radius: 25px;
    box-shadow: 0px -2px 15px rgb(81, 81, 81);
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}



.tooloop .co {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 23%;
    align-items: center;
}

.tooloop .co:not(:first-child){
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.tooloop .co:hover:not(:first-child) {
    background-color: rgb(31, 41, 51);
}
.tooloop .co:first-of-type {
    padding-bottom: 10px;
    height: 31%;

}
.tooloop .co #first-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
    padding-left: 15px;
    padding-top: 15px;
}
.tooloop .co #first-text p{
    color: #6C7A87;
    font-size: 15px;
    width: 80%;
}

.tooloop .co .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tooloop .co .row svg {
    margin: 0;
    margin-left: 0;
    margin-top: 0;

}
.tooloop .co .row .icon {
    margin-left: 15px;
    margin-right: 10px;
    background-color: #1487d3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooloop .co .row span {
    color: #ffffff;
    font-size: 14px;
}
.tooloop .co .row .icon svg g {
    fill: #ffffff;
}
.tooloop .co .row .icon svg g path{
    fill: #ffffff;
}

.svg {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.svg  svg {
    width: 20px;
    height: 20px;
    margin-right: 15px;

}
.svg.svg2 {
    width: 70%;
    display: flex;
}
.svg.svg3 {
    width: 45%;
    display: none;
}
.svg.svg4 {
    display: none;
}
.tooloop .co .row .two {
    width: 180px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 15px auto;
    margin-top: 0;
    position: relative;
}
.over {
    position: absolute;
    display: none;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.144);
    z-index: 9;
}
.over-2 {
    position: absolute;
    display: none;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;

}
.over-3 {
    position: absolute;
    display: none;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;

}

.container .co {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

 .co.co1 {
    margin-right: 8px;

}
.co.co1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: rgb(255, 255, 255);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 25px;
    transition: 0.1s ease-in-out;
    border-radius: 25px;
}
 .co.co1 a:not(:first-child)
{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .co.co1 a:hover  {
    background-color: rgb(40, 53, 63) ;
    
}
 .co.co1 a:first-child {
    border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-top: 8px;
}
  


.co.co1 a p {
    margin-left:25px ;
}

 .co.co1 svg {
    margin-bottom: 5px;
}

/* .co.co1 .btn {
    background-color: #1D9BF0;
    width: 225px;
    height: 52px;
    border-radius: 25px;
    padding: 0 !important;
} */


.co.co1 .button:hover {
    background-color: #1487d3;
}
 .co.co1 .button {
    background-color: #1D9BF0;
    color: #ffffff;
    width: 225px;
    height: 53px;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    border: none;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 90px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
justify-content: center;
align-items: center;
}
.co.co1 #click {
    display: none;
    background-color: #1D9BF0;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    border: none;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 60px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.co.co1 #click:hover {
    background-color: #1487d3;

}

.co.co1 .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 50px;
    padding: 9px;
}
.co.co1 .profile:hover {
    background-color: rgb(40, 53, 63);

}
.co.co1 .profile img {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    margin-right: 15px;
}

.co.co1 .profile h1 {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;

}

.profile p {
    color: #6C7A87;
    font-size: 15px;
    font-weight: 400;
}
.profile svg {
    margin-left: 75px;
    width: 18px;
    height: 18px;
}
.container .co.co2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #38444D;
    border-right: 1px solid #38444D;
    width: 598px;
    position: relative;
}


.container .co.co2 .core {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 53px;
    cursor: pointer;

}

.container .co.co2 .core .icon {
    margin-left: 15px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

}

.container .co.co2 .core .icon:hover {
    background-color: rgb(40, 53, 63);
}

.container .co.co2 .core svg  {
    width: 20px;
    height: 20px;
   
}


.container .co.co2 .core .text {
    margin-left: 15px;
}
.container .co.co2 .core h1 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    

}
.container .co.co2 .core p {
    color: #6C7A87;
    font-size: 12px;
    font-weight: 500;
}
.container .co.co2 .core2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #38444D;

}

.container .co.co2 .core2 .image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.core2 .image img {
    width: 100%;
    position: relative;
}

.core2 .logo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    user-select: none;

}

.core2 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: #15202B;
    z-index: 9;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    margin-left: 15px;

}

.core2 button {
    margin: 15px;
    width: 120px;
    border-radius: 25px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #38444D;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.core2 button:hover {
    background-color: rgb(40, 53, 63);
} 

.core2 .core3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    color: #ffffff;
    margin-top: 20px;

}
.core3 .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.core3 .text h1 {
    font-size: 20px;
    font-weight: 700;

}
.core3 .text p {
    color: #6C7A87;
    margin-bottom: 10px;
    font-size: 15px;
}
.core3 .text .two {
    color: #ffffff;
}

.core3 .text2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.text2 .co {
    display: flex;
    flex-direction: column;
    
}

.text2 .co .srv {
    display: flex;
    flex-direction: row;
    color: #8899a6;

}

.text2 .srv {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.text2 .srv svg {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.text2 .srv a {
    color: #1D9BF0;
    text-decoration: none;
}
.text2 .srv a:hover {
    text-decoration: underline;
}
.text2 .srv.srv2 {
    margin-left: 10px;
  
}

.core3 .co2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.core3 .co2 .srv {
    display: flex;
    flex-direction: row;
    height: 23px;
    cursor: pointer;
}
.core3 .co2 .srv:last-of-type{
    margin-left: 15px;

}

.core3 .co2 .srv h1 {
    font-size: 16px;
    margin-right: 5px;
}

.co2 .srv p {
    color: #8899a6;
}

.core3 .co2 .srv:hover {
    border-bottom: 1px solid #ffffff;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    
}
.services h1 {
    font-size: 15px;
    font-weight: 500;
    color: #8899a6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services span {
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;

    
}

.services span:hover  {
    background-color: rgb(40, 53, 63);
}

.services h1.active {
    border-bottom: 4px solid #1D9BF0;
    font-weight: 700;
    color: #ffffff;
    border-radius: 2px;
}

.core4 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
}

.core4 .col {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 2px;
    

}

.col svg {
    width: 17px;
    height: 17px;
}
.col p {
    color: #a6bdcf;
    font-size: 13px;
    font-weight: 700;
    margin-left: 15px;

}

.core4 .inner {
    display: flex;
    flex-direction: row;
}

.inner img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.inner .text {
    width: 100%;
}
.inner .text .srv {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    max-height: 20px;
}
.inner .text .srv h3 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    width: 92px;
}

.inner .text .srv p {
    margin-right: 5px;
    font-size: 15px;   
}
.feb {
    display: flex;
    flex-direction: row;
    width: 65%;
 display: flex;
        justify-content: space-between;
        align-items: center;
    }
.feb .span {
    width: 85px;
}

.feb  .icon-2  {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.feb .icon-2 svg {
    height: 100%;
}


.feb  .icon-2:hover  {
    background-color: rgb(40, 53, 63);
}

.feb .icon-2 svg:hover g circle {
    fill: #1487d3;
}

.feb .icon-1 {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.inner .text .srv p span {
    position: absolute;
    display: none;
    flex-direction: row;
    background-color: rgb(61, 77, 88);
    color: #ffffff;
    font-size: 11px;
    padding: 3px;
    border-radius: 5px;
    bottom: 68px;
}

.inner .text .srv p:hover > span {
    display: flex;
}

.inner .srv-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 12px;
    width: 100%;

}

.inner .srv-1 h2 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
}
.core4 .hashtag {
    color: #1D9BF0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
   
}
.hashtag p {
    width: 90%;
}

.co.co3 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;

}

.co.co3 .search {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 350px;
    background-color: rgb(40, 53, 63);
    border-radius: 25px;
    height: 48px;
    overflow: hidden;
    margin-top: 7px;
}

.search .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
}

.search-icon svg {
    width: 18px;
    height: 18px;
}

.search input {
    width: 260px;
    height: 100%;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    caret-color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: -3px;
}
.search input::placeholder {
    color: #abb6bf;
}

.search input:focus svg g path {
    fill: #1487d3;
}

#deleteEle {
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #1D9BF0;
    transition: 0.3s ease-in-out;
}
#deleteEle svg {
    width: 10px;
    height: 10px;
}
#deleteEle:hover {
    background-color: rgb(22, 125, 194);
}

.co.co3 .images {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.co.co3 .images .co {
    display: grid;

}

.images .co img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.images .co img:hover {
transform: scale(1.050);
}


@media (max-width: 1191px){
    .co.co1 p {
        display: none;
    }
    .co.co1 {
        justify-content: flex-end;
        align-items: flex-end;
        width: 70px;
    }
    .co.co1 a {
        border-radius: 50%;
        padding: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    .container .co .logo {
        margin-left: 0;
        height: 50px;
    }
    .container .co.co1 .button {
        display: none;
    }
    .container .co.co1 #click {
        display: flex;
    }
    .container .co.co1  svg {
        margin-bottom: 0!important;
    }
    .profile .text {
        display: none;
    }
    .profile svg {
        display: none;
    }
    .profile img {
        margin-right: 0 !important;
    }
}

@media (max-width: 991px){
    .container .co.co3 {
        display: none;
    }
}