*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(29, 45, 188), rgb(43, 160, 49)) repeat scroll 0% 0%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 720px;
    border-radius: 25px;
    margin: 10px auto;
    box-shadow: 0 0px 25px rgb(69, 77, 77), 0 0px 25px rgb(0, 0, 0);
    color: #fff;
}



.player .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.details .playing {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.details .photo {
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 25px ;
    background-position: center !important;
    background-size: cover !important;

}
.details .photo.ro {
    animation: rotate 8s infinite linear;
    
}


.details .name {
    font-size: 40px;
}
.details .artist {
    font-size: 20px;
}
@keyframes rotate {
 to {
     transform: rotate(359deg);
 }

}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 15px;
}

.slider .current-time{
    margin-right: 8px;
    display: block;

}

.slider .total-duration{
    margin-left: 8px;
    display: block;

}

.slider input {
    background-color: transparent;
}

.slider .seek {
    width: 250px;

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background: -moz-linear-gradient(to right , black , white); 
    height: 4px;
  }


  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  }

  .container  .volumer {
      width: 120px;
      background-color: transparent;
  }
.container .fa.fa-volume-down {
    margin-right: 8px;
}
.container .fa.fa-volume-up {
    margin-left: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 200px;
}



.buttons .prev-track {
    margin-left: 20px;
}

.buttons .playpause-track {
    margin-left: 50px;
    margin-right: 50px;
}

.buttons .next-track {
    margin-right: 20px;
}

#wave {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 150px;
    height: 85px;
    margin-bottom: 25px;

}


#wave span {
    background: linear-gradient(to bottom , black ,white);
    width: 10px;
    height: 100%;
    margin-right: 10px;
    border-radius: 6px;
}

#wave .stroke:nth-child(1){
    animation: up-down 1s infinite linear;
}
#wave .stroke:nth-child(2){
    animation: up-down 1s infinite linear;
    animation-delay: 0.3s;

}
#wave .stroke:nth-child(3){
    animation: up-down 1s infinite linear;
    animation-delay: 0.6s;

}
#wave .stroke:nth-child(5){
    animation: up-down 1s infinite linear;
    animation-delay: 0.6s;


}
#wave .stroke:nth-child(4){
    animation: up-down 1s infinite linear;
    animation-delay: 0.9s;

}
#wave .stroke:nth-child(6){
    animation: up-down 1s infinite linear;
    animation-delay: 0.3s;


}

#wave .stroke:nth-child(7){
    animation: up-down 1s infinite linear;

}


@keyframes up-down{
    from {
        height: 90%;
        opacity: 1;
        background: #fff;

    }
    50% {
        height: 30%;
        opacity: 0.3;
    }
    to {
        height: 100%;
        opacity: 1;
        transform: scale(1.2);
        background: rgb(93, 159, 179);

    }
}