*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}

.logo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo .container {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo .container img {
    width: 64px;
    height: 24px;
}
.logo .container .links {
    width: 50px;
    height: 31px;
}

.logo .container  ul {
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: 11px;
    background-color: #f6f6f6;
    left: -163px;    
}
.logo .container  ul::after{
    content: "";
    position: absolute;
    right: 0px;
    border-style: solid;
    border-width: 11px;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
}

.logo .container  ul li {
    display: block;
    padding-bottom: 15px; 
    border-bottom: 1px solid #c8b1b1a1; 
    width: 100%;
    height: 100%;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}
.logo .container  ul li:last-child{
    border: none;
}
.logo .container  ul li a {
    text-decoration: none;
    color: #332828;
    font-size: 17px;
    margin-left: 15px;
    transition: 0.4s ease-in-out;
    width: 100%;
    display: block;
    height: 200%;
}
.logo .container  ul li a:hover {
    padding-left: 15px;
}

.logo .container .links .icon {
    width: 50px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo .container .links .icon span {
    width: 31px;
    height: 2px;
    background-color: black;
    margin-bottom: 6px;
    transition: 0.2s ease-in;
}
.logo .container .links .icon span:nth-child(2){
    width: 38%;
    position: relative;
    left: 6px;
  }

.logo .container .icon:hover > span:nth-child(2) {
    width: 31px;
    left: 0px;
    position: relative;
}

.logo .container .links:hover ul {
    display: flex;
}
.mountain{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.mountain  .paragraph {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.mountain .paragraph h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #0ec1af;
    margin-bottom: 19px;
}

.mountain .paragraph p { 
    font-size: 19px;
    line-height: 1.8;
}
/**end mountain */
/**start features*/
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: #eee;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media (max-width: 767px){
    .features{
        flex-direction: column;
        height: 750px;
        text-align: center;
        
    }
    .features .co {
        margin-bottom: 20px;
    }
 

}

.features .co {
    width: 350px;
    height: 277px;
    margin-left: 30px;
    text-align: center;
}
.features .co i {
    color: #0ec1af;
    margin-bottom: 30px;

}
.features .co h3 {
    margin-bottom: 30px;
    font-weight: 800;
}
.features .co p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
@media (max-width: 377px){
    .features .co p{
        font-size: 15px;
        
    }


} 
/**features end**/
/**services start*/
.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-bottom: 25px;
}
@media (max-width: 767px){
    .services {
        flex-direction: column;
        height: 740px;
    }

}
.para { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}
.para h1 {
    color: #ebeced;
    font-size: 100px; 
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.para p {
    margin: -30px 0 0;
font-size: 20px;
text-align: center;
color: #797979;
}

.services .co1 {
    width: 360px;
    height: 360px;
    margin-right: 30px;
}

.services .co1 .srv {
    margin-bottom: 35px;
    text-align: left;
    width: 100%;
    display: flex;
}
.services .co1 .srv i {
    color: #0ec1af;
    margin-right: 20px;
}
.services .co1 .srv h3 {
    margin: 0 0 20px;
}
.services .co1 .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .co1 .image {
    width: 100%;
    height: 100%;
}
.services .co1 .image img {
    width: 250px;
    height: 325px;
    position: relative;
}
@media (max-width: 1198px){
    .services .co1 .image {
        display: none;
    }
    .services .co1.m{
        display: none;
    }


}
@media (max-width: 991px){

  
    
    .services .co1 .srv i {
        margin-right: 0;
        margin-bottom: 15px;

    }
    .services {
        height: 500px;
        flex-direction: row;
    }
    .services .co1 {
        height: 400px;
    }
    .services .co1:nth-child(2) .srv:nth-child(2) {
        margin-top: 45px;
    }
    .services .co1 .srv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}
@media (max-width: 686px){
    .services .co1 {
        margin-right: 0;
    }
    .services .co1 .srv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services .co1 .srv h3 {
        text-align: center;
        margin-top: 20px;
    }
    .services .co1 .srv p {
        text-align: center;
    }
    .services {
        height: 1050px;
        flex-direction: column;
    }
    .services .co1:nth-child(2) {
        margin-top: 90px;
    }
}





.services .co1 .image::before {
    content: "";
    background-color: #2d4857;
    width: 100px;
    height: 408px;
    position: absolute;
    right: 280px;
    z-index: -1;
    top: 1440px;
}
/*services end*/
.para.o {
    background-color: #f2f0f0;
    padding-top: 30px;

}
.para.o h1 {
    color: #e2e3e5;
}
@media (max-width: 700px){


    .para h1 {
        font-size: 70px;

    }
    .para p {
        font-size: 16px;
        margin: -25px 0 0;
    }
}
.portfolio {
    width: 100%;
    height: 600px;
    background-color: #f2f0f0;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.portfolio .co2 {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;

}
.portfolio .co2 .text2 {
    background-color: #ffffff;
}
.portfolio .co2 .text2 h3 {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 800;
}
.portfolio .co2 .text2 p {
    padding-left: 15px;
    padding-bottom: 20px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
@media (max-width: 991px){
    .portfolio .co2 {
        width: 275px;
    }
}

@media (max-width: 750px){
    .portfolio {
        flex-direction: column;
        height: 1500px;
    }
    .portfolio .co2 {
        width: 400px;
        height: 400px;
        margin-right: 0;
        margin-bottom: 45px;
    }
    .portfolio .co2 img {
        width: 100%;
    }

}
@media (max-width: 400px){
    .portfolio .co2 {
        width: 300px;
        height: 400px;
        margin-right: 0;
        margin-bottom: 25px;
    }
}


/*portfolio end*/
/**start about*/
.about {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;   
}

.about .image {
    width:275px;
    height: 375px;
    position: relative;
}
.about .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .image::after{
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #12c3b1;
    border-bottom: 80px solid #12c3b1;
    z-index: -1;
    right: -150px;
}
.about .image img {
    width: 100%;
    height: 100%;
}
.about .text3 {
    width: 630px;
    height: fit-content;
    text-align: left;
}
.about .text3 p{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .text3 p:last-of-type{
    line-height: 2;
    color: #777;
    margin-top: 50px;
}
.about .text3 hr {
    width: 300px;
    color: #0ec1af;
}
@media (max-width: 991px){
    .about {
        flex-direction: column;
        height: 950px;
    }
    .about .text3 {
        text-align: center;
    }
    .about .text3 hr {
        text-align: center;
        display: inline-block;
}
#about {
    margin-bottom: 60px;
}
.about .image {
    margin-bottom: 65px;
    margin-top: 45px;
}
}

@media (max-width: 767px){
    .about {
        flex-direction: column;
    }
  .about .text3 {
      width: 500px;
  }
  .about .image::after {
    width: 80px;
    height: 300px;
    border-left: 65px solid #12c3b1;
    border-bottom: 65px solid #12c3b1;
    right: -110px;

}

}
@media (max-width: 576px) {
    .about .text3 {
        width: 400px;
    }
    .about .image::after {
        width: 80px;
        height: 300px;
        border-left: 50px solid #12c3b1;
        border-bottom: 50px solid #12c3b1;
        right: -110px;

    }
    
}
@media (max-width: 367px){
    .about {
        flex-direction: column;
    }
    .about .text3 {
        width: 300px;
    }
    .about .image img {
        width: 250px;
        height: 400px;
    
    }
    .about .image::after {
        display: none;
    }
    .about .image::before {
        display: none;
    }

}
/**about end**/
/**start contact **/

.contact {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.contact .text4 {
    width: 100%;
    height: 200px;
}
.contact .text4 h1 {
    font-weight: 800; 
    color: #2b4654;
    letter-spacing: -2px;
    margin-bottom: 15px;
    font-size: 35px;

}
.contact .text4 a {
    display: block;
    font-size: 25px;
    font-weight: 800;
    color: #0ec1af;
    text-decoration: none;
    padding-bottom: 20px;
}
.contact .text4 .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.contact .text4 .social i {
    margin-left: 10px;
    color: #2b4654;
}
/**start footer**/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 85px;
    background-color: #2b4654;
    color: white;
    font-size: 19px;
}
footer span {
    color: #12c3b1;
    font-weight: bold;
}
footer p {
    margin-left: 5px;
}
