*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
        margin-top: 25px;
    border: 7px solid black;
    border-radius: 25px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    transform: translate(-50%);
    margin-top: -50px;
    
}
.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: inset 3px 3px 10px #747474;
    margin-left: 5px;
    background-color: black;
    margin-right: 35px; 
    border: 3px solid black;
    cursor: pointer;
    position: relative;
}
.circle.one{
    margin-left: 31px;
}
.circle:hover {
    background-color:#298eb2;
    
}

.circle.one::before{
    content: "1";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}

.circle.Two::before{
    content: "2";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Three::before{
    content: "3";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Four::before{
    content: "4";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Five::before{
    content: "5";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Six::before{
    content: "6";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Seven::before{
    content: "7";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Eight::before{
    content: "8";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Nine::before{
    content: "9";
    position: absolute;
    bottom: -43px;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Ten::before{
    content: "10";
    position: absolute;
    bottom: -43px;
    left: 4px;
    font-size: 20px;
    font-weight: bold;
}
.circle.Eleven::before{
    content: "11";
    position: absolute;
    bottom: -43px;
    left: 4px;
    font-size: 20px;
    font-weight: bold;
}
.circle:nth-child(n+6){
    background-color: #298eb2;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.4), 0 0 10px black;
}
.circle:nth-child(n+6):hover{
    background-color: #eb008b;
}