*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 96.5vh;
    background: white;
}
.profile path {
    fill: transparent;
}

svg {
    width: 35px;
    height: 35px;
    transition: 0.5s ease-in-out;
    fill: #fff;
    stroke: #fff;
}
svg path {
    fill: #fff;
    width: 35px;
    height: 35px;
}


.container {
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px auto;
    position: relative;
    background: linear-gradient(to top right ,rgb(197, 68, 106), rgb(153, 153, 153));
    border-radius: 25px;
    border: none;
    box-shadow: 1px 10px 15px rgb(181, 165, 165) , 0px 0px rgb(0, 0, 0);
    top: 50%;
    padding: 40px;

}

.container .srv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    flex-direction: column;
}

.srv .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s ease-out ;
    z-index: 50;
    position: absolute;
}




.container .circle {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 46px;
    top: -44px;
    background-color: white;
    z-index: 9;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.container .circle::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -19px;
    bottom: 14px;
    border-top-right-radius: 25px;
    box-shadow: 5px -11px 0 white;
    cursor: context-menu;  
}
.container .circle::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -19px;
    bottom: 15px;
    border-top-left-radius: 25px;
    box-shadow: -4px -11px 0 white;
    cursor: context-menu 
}

.container .circle span{
    width: 65px;
    height: 65px;
    background:linear-gradient(to top right  ,rgb(197, 68, 106), rgb(153, 153, 153));
    border-radius: 50%;
  
}

p {
    display: none;
    font-weight: bold;
    animation: opac 0.9s ease-in-out alternate 1 ;
    color: #fff;
    width: 100%;
    height: 100%;
}
.icon.active  {
    transform: translateY(-53px);
    z-index: 50;
}
  
p.active {
    display: flex;
}

@keyframes opac {
    from{
        opacity: 0;

    }
    to {
        opacity: 1;
 
    }
}

